
<html>
<head>
	<script src="http://code.jquery.com/jquery-latest.js"></script>	
	<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
	<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    var chartClient;
    var reconnectionMap = [];
    var connectionCounter =0;
    var connectionList = [];
    var userID= /*[[${userID}]]*/;      
    var instrument= /*[[${instrument}]]*/;
    var interval= /*[[${granularity}]]*/;
	var tradingIndex = /*[[${tradingIndex}]]*/;
	var stopLossCandleIndex = /*[[${stopLossCandleIndex}]]*/;
	var takeProfitCandleIndex = /*[[${takeProfitCandleIndex}]]*/;
	var baseurl = /*[[@{/}]]*/;	
	var success = /*[[${success}]]*/;
	var takeProfitPrice = /*[[${takeProfitPrice}]]*/;
	var stopLossPrice = /*[[${stopLossPrice}]]*/;
	var price = /*[[${price}]]*/;	
	var closeOutPrice= /*[[${closeOutPrice}]]*/;
	var closeOutTime= /*[[${closeOutTime}]]*/;
	var openTime = /*[[${openTime}]]*/;
	var chartObject = JSON.parse(/*[[${chart}]]*/);
	var lastTime = chartObject.data[3].dataPoints[chartObject.data[3].dataPoints.length-1].time;
	var chartJS = null;
	window.onload = function () {
		chartJS = new CanvasJS.Chart("chartContainer", {
			height: 500,
		    width : 800,
		    
			title: {
				fontSize: 20,
				text: chartObject.title.text+"   "+interval+" Success "+success+" Takeprofit "+takeProfitPrice+" Stoploss "+stopLossPrice				
			},
			zoomEnabled: chartObject.zoomEnabled,
			axisY: {
				includeZero: chartObject.axisY.includeZero,
				title: chartObject.axisY.title,
				prefix: chartObject.axisY.prefix
			},
			axisX: {
				interval: chartObject.axisX.interval,
				labelAngle: chartObject.axisX.labelAngle,
				intervalType: chartObject.axisX.intervalType,
				valueFormatString: chartObject.axisX.valueFormatString,
				stripLines:[
					{                
		               value: closeOutTime,		
		               label : (new Date(closeOutTime)).toString(),
		               showOnTop: true
					},
					{                
			           value: openTime,
			           label : (new Date(openTime)).toString(),
			           showOnTop: true
				    }
				]
			},
			data : chartObject.data
		});		


		chartJS.render();
    	for(i = 0; i < chartJS.data[3].dataPoints.length; i++){
  		  console.log(chartJS.data[3].dataPoints[i].time+" "+chartJS.data[3].dataPoints[i].x);
  		  
  		  chartJS.data[3].dataPoints[i].toolTipContent  = chartJS.data[3].dataPoints[i].time+"<br>Open: {y[0]}<br>High: {y[1]}<br>Low: {y[2]}<br>Close: {y[3]}";
  		  
  		  
  		  
  		  chartJS.data[0].dataPoints[i].toolTipContent  = "Take Profit Price: "+takeProfitPrice;
  		  chartJS.data[1].dataPoints[i].toolTipContent  = "Stop Loss Price: "+stopLossPrice;
  		  chartJS.data[2].dataPoints[i].toolTipContent  = "Price: "+price;
  		  chartJS.data[4].dataPoints[i].toolTipContent  = "CloseCoutPrice: "+closeOutPrice;
  		  
  		  
       	  
        	  //console.log(chartObject.data[0].dataPoints[i].candle.candleIndex +" " + tradingIndex);
        	  //console.log(chartJS.data[0].dataPoints[i].candleIndex +" " + tradingIndex);
        	  
        	  if (chartObject.data[3].dataPoints[i].candle.candleIndex == tradingIndex){
        		  chartJS.data[3].dataPoints[i].color = "Red";
        		  chartJS.data[3].dataPoints[i].toolTipContent  = chartJS.data[3].dataPoints[i].time+"<br>Trading Candle<br>Open: {y[0]}<br>High: {y[1]}<br>Low: {y[2]}<br>Close: {y[3]}";
        	  }
        	  
        	  if (chartObject.data[3].dataPoints[i].candle.candleIndex == stopLossCandleIndex){
        		  //chartJS.data[3].dataPoints[i].color = "Orange";
        	  }
        	  
        	  if (chartObject.data[3].dataPoints[i].candle.candleIndex == takeProfitCandleIndex){
        		  //chartJS.data[3].dataPoints[i].color = "Blue";
        	  }
        	  
  	    }
		
    	chartJS.data[3].color = "black";
    	
    	chartJS.render();
		
	}



		
	/*]]>*/
	</script>
	<script src="../../../resources/js/canvasjs.min.js" th:src="@{/resources/js/canvasjs.min.js}"></script>
	<title th:text="${instrument}">Instrument</title>
</head>
<body onbeforeunload="ConfirmClose()" onunload="HandleOnClose()">
	<div id="chartContainer" style="height: 400px; width: 100%;">
	</div>
</body>
</html>