
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trading-Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link  rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link  rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script  th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script  th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>    
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    
    
    
    
</head>
<script th:inline="javascript">
/*<![CDATA[*/
instrumentIndex = /*[[${tradingProfileForm.tradingInstruments.size()}]]*/;
algorithmIndex = /*[[${tradingProfileForm.tradingAlgorithms.size()}]]*/;	
success = /*[[${success}]]*/;


function removeInstrument(id){	
	if (instrumentIndex ==1){
		return;
	}
	$('#instrument'+id).remove();

	instrumentIndex--;
	
	var instrumentCounter = 0;
	$('tr[id^="instrument"]').each(function(){
		//alert($(this).html());
		$(this).attr('id','instrument'+instrumentCounter);
		instrumentCounter++;
		
	});
	
	instrumentCounter = 0;
	$('[id^="instrumentField"]').each(function(){
		$(this).attr('name','tradingInstruments['+instrumentCounter+'].instrument');
		$(this).attr('id','instrumentField'+instrumentCounter);
		instrumentCounter++;
		
	});
	
	instrumentCounter = 0;
	$('[id^="intervalField"]').each(function(){
		$(this).attr('name','tradingInstruments['+instrumentCounter+'].tradingInterval');
		$(this).attr('id','intervalField'+instrumentCounter);
		instrumentCounter++;
		
	});
	instrumentCounter = 0;
	
	$('[id^="unitField"]').each(function(){

		$(this).attr('name','tradingInstruments['+instrumentCounter+'].units');
		$(this).attr('id','unitField'+instrumentCounter);
		instrumentCounter++;
		
	});
	
   instrumentCounter = 0;
	
	$('[id^="massTradeField"]').each(function(){

		$(this).attr('name','tradingInstruments['+instrumentCounter+'].massTrade');
		$(this).attr('id','massTradeField'+instrumentCounter);
		instrumentCounter++;
		
	});	
	
	
	instrumentCounter = 0;
	//name="_tradingInstruments[0].massTrade"
	//tradingInstruments[0].tradingEngine
		$("input:hidden[name$='massTrade']").each(function(){
		$(this).attr('name','_tradingInstruments['+instrumentCounter+'].massTrade');		
		instrumentCounter++;
		
	});
	
	instrumentCounter = 0;
		$("input:hidden[name$='tradingEngine']").each(function(){
		$(this).attr('name','_tradingInstruments['+instrumentCounter+'].tradingEngine');		
		instrumentCounter++;
		
	});

	
	instrumentCounter = 0;
	
	$('[id^="engineField"]').each(function(){

		$(this).attr('name','tradingInstruments['+instrumentCounter+'].tradingEngine');
		$(this).attr('id','engineField'+instrumentCounter);
		instrumentCounter++;
		
	});
	
	
	instrumentCounter = 0;
	
	$('[id^="tradingInstruments"]').each(function(){
		$(this).attr('name','tradingInstruments['+instrumentCounter+'].dbID');		
		$(this).attr('id','tradingInstruments'+instrumentCounter+'.dbID');
		instrumentCounter++;
	});	
}



function removeAlgorithm(id){	
	
	$('#algorithm'+id).remove();
	algorithmIndex--;
	
	var dbIDCounter = 0;
	var nameCounter = 0;
	$('[id^="tradingAlgorithms"]').each(function(){
		
		
		
		var matches = this.id.match(/dbID/g);
		if(matches != null){
			$(this).attr('name','tradingAlgorithms['+dbIDCounter+'].dbID');
			dbIDCounter++;
		} else {			
			$(this).attr('name','tradingAlgorithms['+nameCounter+'].algorithmName');
			nameCounter++;
		}  
		
	});
	
	

	
}

function addInstrument(){
	tableInstrumentRowspan = '<tr id="instrument'+instrumentIndex+'"><td><input type="text" class="form-control" th:id="instrumentField'+instrumentIndex+'" placeholder="EUR_GRD" th:field="*{tradingInstruments['+instrumentIndex+'].instrument}"/><span class="help-block" th:if="${#fields.hasErrors(\'*{tradingInstruments['+instrumentIndex+'].instrument}\')}" th:errors="*{tradingInstruments['+instrumentIndex+'].instrument}"></span></td><td></td><td><input type="text" class="form-control" th:id="instrumentField'+instrumentIndex+'" placeholder="S5" th:field="*{tradingInstruments['+instrumentIndex+'].tradingInterval}"/><span class="help-block" th:if="${#fields.hasErrors(\'*{tradingInstruments['+instrumentIndex+'].tradingInterval}\')}" th:errors="*{tradingInstruments['+instrumentIndex+'].tradingInterval}"></span></td><td></td><td><input type="text" class="form-control" th:id="unitField'+instrumentIndex+'" placeholder="43" th:field="*{tradingInstruments['+instrumentIndex+'].units}"/><input type="hidden" th:field="*{tradingInstruments['+instrumentIndex+'].dbID}" /><span class="help-block" th:if="${#fields.hasErrors(\'*{tradingInstruments['+instrumentIndex+'].units}\')}" th:errors="*{tradingInstruments['+instrumentIndex+'].units}"></span></td><td><span onclick="removeInstrument(' +instrumentIndex+ ')" style="float:right"  class="glyphicon glyphicon-minus"  aria-hidden="true" /></td></tr>';
	tableInstrumentRow = '<tr id="instrument'+instrumentIndex+'"><td><input type="text" class="form-control" id="instrumentField'+instrumentIndex+'" placeholder="EUR_GRD" name="tradingInstruments['+instrumentIndex+'].instrument" /></td><td></td><td><input type="text" class="form-control" id="intervalField'+instrumentIndex+'" placeholder="S5" name="tradingInstruments['+instrumentIndex+'].tradingInterval"/></td><td></td><td><input type="text" class="form-control" id="unitField'+instrumentIndex+'" placeholder="43" name="tradingInstruments['+instrumentIndex+'].units"/><input type="hidden"  id="tradingInstruments'+instrumentIndex+'.dbID" name="tradingInstruments['+instrumentIndex+'].dbID" /></td><td><span onclick="removeInstrument(' +instrumentIndex+ ')" style="float:right"  class="glyphicon glyphicon-minus"  aria-hidden="true" /></td><td><input type="checkbox" class="form-control" id="massTradeField'+instrumentIndex+'"  name="tradingInstruments['+instrumentIndex+'].massTrade" /></td><td></td><td><input type="checkbox" class="form-control" id="egineTradeField'+instrumentIndex+'"  name="tradingInstruments['+instrumentIndex+'].tradingEngine" /></td></tr>';
	$('#instrumentTable').append(tableInstrumentRow);
	instrumentIndex++;	
}

 $(document).ready(function(){
	$('#toggleButton').click(function (e){
		$(e.target).toggleClass('glyphicon-menu-up glyphicon-menu-down');
	});
	
	
	$(document).ready(function() {
		
				
		if (success){
			BootstrapDialog.alert('Profile successfully saved!');	
		}
		
		
		$('#algorithmList').change(function(){
			if ($(this).val() == '--Not Selected--'){
				return;
			}
			
			var buy = "";
			if($("#algorithmList option:selected").attr('buy')){
				buy = "Buy";
			} else {
				buy = "Sell";
			}
			var algorithmRow = '<tr  id ="algorithm'+algorithmIndex+'"><td ><label  class="control-label" >'+$("#algorithmList option:selected").text()+'</label><input type="hidden" id= "tradingAlgorithms'+algorithmIndex+'.dbID" name = "tradingAlgorithms['+algorithmIndex+'].dbID" value="'+$("#algorithmList option:selected").val()+'"/><input type="hidden"  id = "tradingAlgorithms'+algorithmIndex+'.algorithmName" name = "tradingAlgorithms['+algorithmIndex+'].algorithmName" value="'+$("#algorithmList option:selected").text()+'"/></td><td>&nbsp;&nbsp;&nbsp;</td><td><label  class="control-label" >'+buy+'</label></td><td>&nbsp;&nbsp;&nbsp;</td><td><span  onclick="removeAlgorithm('+algorithmIndex+')" style="float:right"  class="glyphicon glyphicon-minus" aria-hidden="true"></span></td></tr>';
			$('#algorithmTable').append(algorithmRow);
			algorithmIndex++;
		});
	});
	
	
});
 
 /*]]>*/

</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<form class="form-narrow form-horizontal" method="post" th:action="@{/update/tradingprofile}" th:object="${tradingProfileForm}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${tradingProfileForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Edit Trading Profile</legend>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">Account</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="userNamee" placeholder="346234" th:field="*{userName}"/>
                <input type="hidden"  id="dbID"  th:field="*{dbID}"/>
                <input type="hidden"  id="userID"  th:field="*{userID}"/>
                <span class="help-block" th:if="${#fields.hasErrors('*{userName}')}" th:errors="*{userName}">UserName</span>
            </div>
        </div>
        
        <div>
        <legend >
          Trading Instruments
          <span  onclick="addInstrument()" style="float:right"  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
           <span id='toggleButton' style="float:right"  class="glyphicon glyphicon-menu-down" data-toggle="collapse" data-target="#instrumentGroup" aria-hidden="true"></span>
           
        </legend>
        </div>
   
        <div class = "collapse in" id="instrumentGroup">
        
        
        
      
        <div class="form-group" >
                <div class="col-lg-12">
                   <table id="instrumentTable">
                   <tr>
                   <td><label for="instrument" class="control-label" >Instrument</label></td>
                   <td>&nbsp;</td>
                   <td><label for="instrument" class="control-label" >Interval</label></td>
                   <td>&nbsp;</td>
                   <td><label for="instrument" class="control-label" >Units</label></td>
                   <td>&nbsp;</td>
                   <td><label for="instrument" class="control-label" >Mass Trade</label></td>
                   <td>&nbsp;</td>
                   <td><label for="instrument" class="control-label" >Trading Engine</label></td>
                   <td>&nbsp;</td>
                   </tr>	
                     <tr th:each="instrument : ${tradingProfileForm.tradingInstruments}" th:id ="instrument+${instrumentStat.index}">                      
                      <td valign="top" th:classappend="${#fields.hasErrors('tradingInstruments[__${instrumentStat.index}__].instrument')}? 'has-error'">
                           <input type="text" class="form-control" th:id="instrumentField+${instrumentStat.index}" placeholder="EUR_GRD" th:field="*{tradingInstruments[__${instrumentStat.index}__].instrument}"/>
                           <span class="help-block" th:if="${#fields.hasErrors('*{tradingInstruments[__${instrumentStat.index}__].instrument}')}" th:errors="*{tradingInstruments[__${instrumentStat.index}__].instrument}">Instrument</span>
                      </td> 
                      <td></td>                     
                      <td valign="top" th:classappend="${#fields.hasErrors('tradingInstruments[__${instrumentStat.index}__].tradingInterval')}? 'has-error'">
                           <input type="text" class="form-control" th:id="intervalField+${instrumentStat.index}" placeholder="S5" th:field="*{tradingInstruments[__${instrumentStat.index}__].tradingInterval}"/>
                           <span class="help-block" th:if="${#fields.hasErrors('*{tradingInstruments[__${instrumentStat.index}__].tradingInterval}')}" th:errors="*{tradingInstruments[__${instrumentStat.index}__].tradingInterval}">Interval</span>
                      </td>
                      <td></td>                      
                      <td valign="top" th:classappend="${#fields.hasErrors('tradingInstruments[__${instrumentStat.index}__].units')}? 'has-error'">
                            <input type="text" class="form-control" th:id="unitField+${instrumentStat.index}" placeholder="43" th:field="*{tradingInstruments[__${instrumentStat.index}__].units}"/>
                         
                             <input type="hidden" th:field="*{tradingInstruments[__${instrumentStat.index}__].dbID}" />
                           <span class="help-block" th:if="${#fields.hasErrors('*{tradingInstruments[__${instrumentStat.index}__].units}')}" th:errors="*{tradingInstruments[__${instrumentStat.index}__].units}">Units</span>
                      </td>
                      <td></td>
                     <td>
                           <input type="checkbox" class="form-control" th:id="massTradeField+${instrumentStat.index}"  th:field="*{tradingInstruments[__${instrumentStat.index}__].massTrade}" />                         
                      </td>
                      <td></td>
                      <td>
                            <input type="checkbox" class="form-control" th:id="engineField+${instrumentStat.index}"  th:field="*{tradingInstruments[__${instrumentStat.index}__].tradingEngine}"/>                         
                          
                      </td>
                      
                      <td valign="top">
                      <span th:onclick="'removeInstrument(\'' +${instrumentStat.index} + '\')'" style="float:right"  class="glyphicon glyphicon-minus"  aria-hidden="true" />
                      </td>
                    </tr>

                   </table>
                </div>

        </div>    
    </div>
    
          <div>
            <legend >
          Trading Algorithms
           <span id='toggleButton' style="float:right"  class="glyphicon glyphicon-menu-down" data-toggle="collapse" data-target="#algorithmGroup" aria-hidden="true"></span>           
        </legend>
        </div>
   
        <div class = "collapse in" id="algorithmGroup">
				<div class="form-group">
				<div class="col-lg-offset-1 col-lg-10">
					<label for="algorithmList">Add Trading Algorithm</label> <select id="algorithmList" class="form-control">
						<option>--Not Selected--</option>
						<option th:attr="buy=${algorithm.buy}" th:each="algorithm : ${allAlgorithms}" th:value="${algorithm.dbID}" th:text="${algorithm.algorithmName}"></option>
					</select>
				</div>
				</div>
				
				<div class="form-group" >
				<div class="col-lg-12">
                <table id="algorithmTable">
                <tr th:each="algorithm : ${tradingProfileForm.tradingAlgorithms}" th:id ="algorithm+${algorithmStat.index}">
                 <td>
                 <label  class="control-label" th:text="${algorithm.algorithmName}"/>
                 <input type="hidden" th:field="*{tradingAlgorithms[__${algorithmStat.index}__].dbID}" />
                 <input type="hidden" th:field="*{tradingAlgorithms[__${algorithmStat.index}__].algorithmName}" />                 
                 </td>
                 <td>&nbsp;&nbsp;&nbsp;</td>
                 <td>
                 <label  class="control-label" th:if="${algorithm.buy}" th:text="Buy"/>
                 <label  class="control-label" th:if="not ${algorithm.buy}" th:text="Sell"/>
                 </td>
                 <td>&nbsp;&nbsp;&nbsp;</td>
                 <td>
                 <span  th:onclick="'removeAlgorithm('+${algorithmStat.index}+')'" style="float:right"  class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                 </td>
                </tr>
                </table>
                </div>
                </div>               
        </div>       
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>