
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.openposition.title}">Open Positions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/jquery.popupwindow.js" th:src="@{/resources/js/jquery.popupwindow.js}"></script>
<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script src="../../../resources/js/jquery.sortElements.js" th:src="@{/resources/js/jquery.sortElements.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />

</head>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
chartButton= '<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-stats"></span></button>';
tradeChartButton= '<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-equalizer"></span></button>';
positionTableHeader = '<table class="table table-bordered" id="positionTable"><thead>'; 	   
positionTableEnd = '</table>';
positionTableContent = "";

closingId = "";
updateCounter = 0;
baseurl = /*[[@{/}]]*/;
singleInstrument = /*[[${singleInstrument}]]*/;
instruments = /*[[${instruments}]]*/;
intervals = /*[[${intervals}]]*/;
positions = /*[[${positions}]]*/;

dateFilter="";
nameFilter="";
instrumentFilter="";
userIDFilter ="";
dialog = null;

trades = [];

priceMapBid = [];
priceMapAsk = [];
colorMapBid = [];
colorMapAsk = [];

var lastBidColor = "";
var th = "";
var inverse = false;
var lastHeaderID= null;


positionTableHeader += "<tr class='info'>";
positionTableHeader += "<th colspan='2' id='Chart'>Chart</th>";
positionTableHeader += "<th id='sortIstrument'>Instrument</th>";
positionTableHeader += "<th id='sortDate'>Trade Date</th>";
positionTableHeader += "<th id='sortUnits'>Units</th>";            	   
positionTableHeader += "<th id='sortUPL'>UPL</th>";    	   
positionTableHeader += "<th id='sortName'>Account Name</th>";
positionTableHeader += "<th id='sortPrice'>Price</th>";
positionTableHeader += "<th id ='sortBid'>Bid</th>";
positionTableHeader += "<th id='sortAsk'>Ask</th>";
positionTableHeader += "<th id='sortStopLoss'>Stop Loss</th>";
positionTableHeader += "<th id='' >Take Profit</th>";
positionTableHeader += "<th>Cover</th>";
positionTableHeader += "<th>Close</th>";
positionTableHeader += "</tr>"; 	 
positionTableHeader += "</thead>";


var priceClientCallBackFunctionEmpty = function(frame){
	
}

var priceClientCallBackFunction = function(frame, client) {
	
	console.log("##################  Try to connect to Price ###############");
	console.log("##################  Try to connect to Price ###############");
	
	$.get(  baseurl+"position/startPriceService?instruments="+instruments , function( data ) {          
        if(data != "OK"){
          alert("Start Failed!");
        }
   });
	
	client.subscribe("/topic/prices", function(price){
		console.log("priceClientCallBackFunction");
		var displayPrice = JSON.parse(price.body)
		var lastBidColor = "";
		var lastAskColor = "";
		
		if (priceMapAsk[displayPrice.instrument] != displayPrice.closeoutAsk){
			$("[id^='ask"+displayPrice.instrument+"']").removeClass();
			
			if (priceMapAsk[displayPrice.instrument]< displayPrice.closeoutAsk){            					
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "green");
				lastAskColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "red");
				lastAskColor = "red";
			}
		}
		
		if (priceMapBid[displayPrice.instrument] != displayPrice.closeoutBid){
			$("[id^='bid"+displayPrice.instrument+"']").removeClass();

			if (priceMapBid[displayPrice.instrument]< displayPrice.closeoutBid){            					
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "green");
				lastBidColor = "green"
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){                				
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "red");
				lastBidColor = "red"
			}            				
		}

		$("[id^='bid"+displayPrice.instrument+"']").html(displayPrice.closeoutBid);
		$("[id^='ask"+displayPrice.instrument+"']").html(displayPrice.closeoutAsk);

		if (lastBidColor != ""){
			colorMapBid[displayPrice.instrument] = lastBidColor;	
		}
		
		if (lastAskColor != ""){
			colorMapAsk[displayPrice.instrument] = lastAskColor;	
		}
		
		
		priceMapBid[displayPrice.instrument] = [displayPrice.closeoutBid];
		priceMapAsk[displayPrice.instrument] = [displayPrice.closeoutAsk];
		            			
	});
}


function viewTradeChart(tradeID, userID){
    href=baseurl+"instrument/tradeChart?userID="+userID+"&tradeID="+tradeID;
	settings = {
			height:420, // sets the height in pixels of the window.
			width:850, // sets the width in pixels of the window.
			toolbar:0, // determines whether a toolbar (includes the forward and back buttons) is displayed {1 (YES) or 0 (NO)}.
			scrollbars:0, // determines whether scrollbars appear on the window {1 (YES) or 0 (NO)}.
			status:0, // whether a status line appears at the bottom of the window {1 (YES) or 0 (NO)}.
			resizable:1, // whether the window can be resized {1 (YES) or 0 (NO)}. Can also be overloaded using resizable.
			left:0, // left position when the window appears.
			top:0, // top position when the window appears.
			center:0, // should we center the window? {1 (YES) or 0 (NO)}. overrides top and left
			createnew:1, // should we create a new window for each occurance {1 (YES) or 0 (NO)}.
			location:0, // determines whether the address bar is displayed {1 (YES) or 0 (NO)}.
			menubar:0, // determines whether the menu bar is displayed {1 (YES) or 0 (NO)}.
		};
	
	parameters = "location=" + settings.location + ",menubar=" + settings.menubar + ",height=" + settings.height + ",width=" + settings.width + ",toolbar=" + settings.toolbar + ",scrollbars=" + settings.scrollbars  + ",status=" + settings.status + ",resizable=" + settings.resizable + ",left=" + settings.left  + ",screenX=" + settings.left + ",top=" + settings.top  + ",screenY=" + settings.top;
	winObj = window.open(href, name, parameters);
	
	if (window.focus) {winObj.focus()}	
}



function viewChart(instrument, userID, interval){	
	//newwindow=window.open(baseurl+"instrument/chart?userid="+userID+"&instrument="+instrument+"&granularity=5",'height=200,width=150');
    href=baseurl+"instrument/chart?userid="+userID+"&instrument="+instrument+"&granularity="+interval;
	settings = {
			height:420, // sets the height in pixels of the window.
			width:850, // sets the width in pixels of the window.
			toolbar:0, // determines whether a toolbar (includes the forward and back buttons) is displayed {1 (YES) or 0 (NO)}.
			scrollbars:0, // determines whether scrollbars appear on the window {1 (YES) or 0 (NO)}.
			status:0, // whether a status line appears at the bottom of the window {1 (YES) or 0 (NO)}.
			resizable:1, // whether the window can be resized {1 (YES) or 0 (NO)}. Can also be overloaded using resizable.
			left:0, // left position when the window appears.
			top:0, // top position when the window appears.
			center:0, // should we center the window? {1 (YES) or 0 (NO)}. overrides top and left
			createnew:1, // should we create a new window for each occurance {1 (YES) or 0 (NO)}.
			location:0, // determines whether the address bar is displayed {1 (YES) or 0 (NO)}.
			menubar:0, // determines whether the menu bar is displayed {1 (YES) or 0 (NO)}.
		};
	
	parameters = "location=" + settings.location + ",menubar=" + settings.menubar + ",height=" + settings.height + ",width=" + settings.width + ",toolbar=" + settings.toolbar + ",scrollbars=" + settings.scrollbars  + ",status=" + settings.status + ",resizable=" + settings.resizable + ",left=" + settings.left  + ",screenX=" + settings.left + ",top=" + settings.top  + ",screenY=" + settings.top;
	winObj = window.open(href, name, parameters);
	
	if (window.focus) {winObj.focus()}	
	//"instrument/chart"	@RequestParam("userid") String userid, @RequestParam("instrument") String instrument, @RequestParam("granularity") String granularity
}


var stompClientCallBackfunction = function() {

}

 var stompClientSubscribe = function(frame,client){
		var socketURL = '/topic/positions';
	    if (singleInstrument != null){
	    	socketURL = '/topic/single';
	    }
	    console.log("##################  Try to subscribe -subscribeStompClient #####################"+stompClient);
	    console.log("##################  Try to subscribe -subscribeStompClient #####################"+stompClient);
	    console.log("##################  Try to subscribe -subscribeStompClient #####################"+stompClient);
	    client.subscribe(socketURL, function(positions) {
	    console.log("stompClientCallBackfunction "+(updateCounter));
		 updatePositions(JSON.parse(positions.body));      
	    });
 };
 
 
 
 



function resetFilter(){
	dateFilter="";
	nameFilter="";
	instrumentFilter="";
	userIDFilter ="";
	$('#resetFilterButton').text("Reset Filter");
	$('#resetFilterButton').hide();
}

function setInstrumentFilter(instrument){
	instrumentFilter = instrument;	
	$("td[id^='"+instrument+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+instrument);
	$('#resetFilterButton').show();
}

function setNameFilter(name){
	nameFilter = name;	
	$("td[id^='"+name+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" >"+name);
	$('#resetFilterButton').show();
}

function setUserIDFilter(id){
	userIDFilter = id;	
	$("td[id^='"+id+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+id);
	$('#resetFilterButton').show();
}


function setDateFilter(date){
	dateFilter = date;
	$("td[id^='"+date+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+date);
	$('#resetFilterButton').show();
}


function closeTrade(tradeId, userID){
	closingId = tradeId+userID;
	$('#'+closingId).attr('class','btn btn-danger');
	$.get(  baseurl+"trade/closeTrade?tradeId="+tradeId+"&userID="+userID , function( data ) {          
        if(data != "OK"){
          alert("Close Operation failed!");
        }
   });
	
/*	BootstrapDialog.confirm('Do you really want to close this Position?', function(result){
        if(!result) {
        	$('#'+closingId).attr('class','btn btn-primary');
        	closingId = "";
        } else {
        	$.get(  baseurl+"trade/closeTrade?tradeId="+tradeId+"&userID="+userID , function( data ) {          
                if(data != "OK"){
                  alert("Close Operation failed!");
                }
           }); 	
        }
    }); */
}

function closePosition(instrument, longPosition, userID){
	closingId = instrument+userID;
	$('#'+closingId).attr('class','btn btn-danger');
	
	$.get(baseurl+"position/closePosition?instrument="+instrument+"&longPosition="+longPosition+"&userID="+userID , function( data ) {          
        if(data != "OK"){
          alert("Close Operation failed!");
        } });          

	
/*	BootstrapDialog.confirm('Do you really want to close this Position?', function(result){
        if(!result) {
        	$('#'+closingId).attr('class','btn btn-primary');
        } else {
        	$.get(baseurl+"position/closePosition?instrument="+instrument+"&longPosition="+longPosition+"&userID="+userID , function( data ) {          
                if(data != "OK"){
                  alert("Close Operation failed!");
                }          
          }); 	
        }
    });*/	
}



function changeOrder(userID,orderID,price,tradeID,orderType){
	  var error = false;
	  var responseText = "";
		BootstrapDialog.show({
	        message: 'Update Order Price: <input type="text" class="form-control" value="'+price+'">',
	        onhide: function(dialogRef){
	        },
	        buttons: [{
	            label: 'Change Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/updateOrderDialog?userID="+userID+"&orderID="+orderID+"&price="+profitPrice+"&tradeID="+tradeID+"&orderType="+orderType, function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could not update Order",responseText);
	                   		dialogRef.setMessage('Update Take Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        {
	            label: 'Close Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/closeOrderDialog?userID="+userID+"&orderID="+orderID+"&tradeID="+tradeID , function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could close Order",responseText);
	                   		dialogRef.setMessage('Update Take Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        
	        {
	            label: 'Cancel',
	            action: function(dialogRef) {
	            	dialogRef.close();           	
	            }
	        }        
	        ]
	    });
}


function stopLossOrder(tradeID,userID){	
	window.location.href = baseurl+"order/openStopLossOrderView?userID="+userID+"&tradeID="+tradeID;
}

function takeProfitOrder(tradeID, userID, price, buy){
  var error = false;
  var responseText = "";
	BootstrapDialog.show({
        message: 'Enter Take Profit Price:<br><a class="btn btn-primary" onclick="incrementTakeProfitPrice(10,'+buy+');">10</a><a class="btn btn-primary" onclick="incrementTakeProfitPrice(20,'+buy+');">20</a><a class="btn btn-primary" onclick="incrementTakeProfitPrice(30,'+buy+');">30</a><input id="stopLossPrice" type="text" class="form-control" value="'+price+'">',
        onhide: function(dialogRef){
        },
        buttons: [{
            label: 'Place Order',
            action: function(dialogRef) {
            	var profitPrice = dialogRef.getModalBody().find('input').val();
            	dialogRef.setMessage("<div class='loader'></div>");
            	$.get(baseurl+"order/openTakeProfitOrderDialog?userID="+userID+"&tradeID="+tradeID+"&price="+profitPrice , function( data ) {
            		console.log(data);
            		responseText = data;
                	if(responseText == "OK"){            		
                        dialogRef.close();
                   	} else {  
                   		showErrorDialog("Could not open Order",responseText);
                   		dialogRef.setMessage('Enter Take Profit Price: <input type="text" class="form-control">');
                   	}
                });           	
            }
        },
        
        {
            label: 'Cancel',
            action: function(dialogRef) {
            	dialogRef.close();           	
            }
        }        
        ]
    });
  
    
}


function incrementStopLossPrise(pips, buy){
	var price = $('#stopLossPrice').val();	
	var exponent = price.length - price.indexOf(".")-1;
	price = $('#stopLossPrice').val().replace(".","");
	
	price = parseFloat(price);
	pips = parseFloat(pips);
	
	if(buy){
		price -=  pips;
	} else {
		price +=  pips;	
	}
	
     	
	$('#stopLossPrice').val(price);
	price = $('#stopLossPrice').val();
	
	var front = price.substr(0,price.length - exponent);
	var back = price.substr(price.length - exponent);
	if (front == ""){
		front = 0;
	}
	$('#stopLossPrice').val(front+"."+back);
}

function incrementTakeProfitPrice(pips, buy){
	var price = $('#stopLossPrice').val();	
	var exponent = price.length - price.indexOf(".")-1;
	price = $('#stopLossPrice').val().replace(".","");
	
	price = parseFloat(price);
	pips = parseFloat(pips);
	
	if(buy){
		price +=  pips;
	} else {
		price -=  pips;	
	}	 

     	
	$('#stopLossPrice').val(price);
	price = $('#stopLossPrice').val();
	
	var front = price.substr(0,price.length - exponent);
	var back = price.substr(price.length - exponent);
	if (front == ""){
		front = 0;
	}
	$('#stopLossPrice').val(front+"."+back);
	$('#stopLossPrice').val(front+"."+back);
}


function stopLossOrder(tradeID, userID, price, buy){
	  var error = false;
	  var responseText = "";
		BootstrapDialog.show({
	        message: 'Enter Stop Loss Price:<br><a class="btn btn-primary" onclick="incrementStopLossPrise(10,'+buy+');">10</a><a class="btn btn-primary" onclick="incrementStopLossPrise(20,'+buy+');">20</a><a class="btn btn-primary" onclick="incrementStopLossPrise(30,'+buy+');">30</a><input id="stopLossPrice" type="text" class="form-control" value="'+price+'">',
	        onhide: function(dialogRef){
	        },
	        buttons: [{
	            label: 'Place Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();	            	
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/openStopLossOrderDialog?userID="+userID+"&tradeID="+tradeID+"&price="+profitPrice , function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could not open Order",responseText);
	                   		dialogRef.setMessage('Enter Stop Loss Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        
	        {
	            label: 'Cancel',
	            action: function(dialogRef) {
	            	dialogRef.close();           	
	            }
	        }        
	        ]
	    });    
	}


function coverTrade(userID, instrunemt, units) {
	window.location = baseurl+"order/coverMarketOrderView?userID="+userID+"&instrument="+instrunemt+"&units="+units;    	
}

var dialog = null;
function createIntervalDropDown(instrument, userID){
	
	
	intvervalButtons = [];

	var dialogMessage;
	dialogMessage = "Please select Interval!<br>"
	for (k = 0; k < intervals.length; k++){
		dialogMessage  +=  "<a class='btn btn-primary' onclick='dialog.close();viewChart(\""+instrument+"\",\""+userID+"\",\""+intervals[k].$name+"\")'>"+intervals[k].$name+"</a>";
	 }

	dialog = new BootstrapDialog({
		title: "Interval",
        size: BootstrapDialog.SIZE_LARGE,
        message: dialogMessage,
        buttons: intvervalButtons
    });
	
	dialog.open();
	

 //alert(intervals.length);
 
 
 intervalDropDown += '</ul>';
 intervalDropDown += '</div>';
 return intervalDropDown;
}



var stompClient = null;
var priceClient = null;
var globalClient = null;
             
            function connect() {
            	var endpoint = 'fetchData';
            	var priceEndpoint = "prices";
            	var priceSocket = new SockJS(baseurl+priceEndpoint); 
            	
            	
            	var tokenValue = "ALL_POSITIONS"
                if (singleInstrument != null){
                	endpoint = 'single';
                	tokenValue = "SINGLE_POSITION";
                }
            	
            	var socket = new SockJS(baseurl+endpoint);
            	
            	priceClient = Stomp.over(priceSocket);
            	
            	priceClient.debug = null
            	
            	
            	var frame ="";            	
            	
            	
            	stompClient = Stomp.over(socket);
            	stompClient.debug = null;
            	console.log("Registering StompClient1");
            	
            	console.log("Conneting StompClient1");                
            	
            	stompClient.connect({token: tokenValue},stompClientCallBackfunction, errorConnectionCallBack);            	
            	registerConnectionListeners(socket,stompClient, stompClientSubscribe.bind(frame,stompClient), {token: tokenValue}, baseurl+endpoint, stompClientSubscribe.bind(frame,stompClient));
            	
            	priceClient.connect({token: "PRICES_POSITION", instruments : instruments}, priceClientCallBackFunctionEmpty, errorConnectionCallBack);
            	registerConnectionListeners(priceSocket,priceClient, priceClientCallBackFunction.bind(frame, priceClient), {token: "PRICES_POSITION", instruments : instruments}, baseurl+priceEndpoint, priceClientCallBackFunction.bind(frame,priceClient));
            }
             
            function disconnect() {
                if(stompClient != null) {
                    stompClient.disconnect();
                }
                setConnected(false);
                console.log("Disconnected");
            }
             
            function sendMessage() {
                var from = document.getElementById('from').value;
                var text = document.getElementById('text').value;
                stompClient.send("/app/chat", {}, 
                  JSON.stringify({'from':from, 'text':text}));
            }
             
            function showMessageOutput(messageOutput) {
                var response = document.getElementById('response');
                var p = document.createElement('p');
                p.style.wordWrap = 'break-word';
                p.appendChild(document.createTextNode(messageOutput.from + ": " 
                  + messageOutput.text + " (" + messageOutput.time + ")"));
                response.appendChild(p);
            }

            
            function updatePositions(response) {
                jsonData = response;    


            	   
                
                for (i =0; i < jsonData.length; i++){
                   style = "danger";
                   if(jsonData[i].unrealizedPL > 0){
                	   style = "success";
                   }
                   
                   
                   if (jsonData[i].positionShort.tradeIDs == null){
                	   longPosition = 1;
                   } else{
                	   longPosition = 0;
                   }

                	   for (j = 0; j < jsonData[i].trades.length; j++){
                		    trade = jsonData[i].trades[j];
                		    
                		    if (filerPosition(jsonData[i], trade)){
                		    	continue;
                		    }
                		    
                		    
                		    tradeStyle = "danger";
                		    if(trade.unrealizedPL > 0){
                		    	tradeStyle = "success";	
                		    }
                   		    tradeRow = "";
                   		    tradeRow += "<tr class='"+tradeStyle+"' id='"+trade.id+"'>";
                   		    tradeRow += "<td id ='"+trade.instrument+"' rel='window200'  onclick='createIntervalDropDown(\""+trade.instrument+"\",\""+jsonData[i].userID+"\");'>"+chartButton+"</td>";
							tradeRow += "<td id ='"+trade.instrument+"' rel='window200'  onclick='viewTradeChart(\""+trade.id+"\",\""+jsonData[i].userID+"\");'>"+tradeChartButton+"</td>";
                   		    tradeRow += "<td id ='"+trade.instrument+"' onclick='setInstrumentFilter(\""+trade.instrument+"\");'>"+trade.instrument+"</td>";
                   		    tradeRow += "<td id ='"+trade.openTime+"' onclick='setDateFilter(\""+trade.openTime+"\");'>"+trade.openTime+"</td>";
                   		    tradeRow += "<td>"+trade.initialUnits+"</td>";
                   		    tradeRow += "<td>"+trade.unrealizedPL+"</td>";
                   		    tradeRow += "<td id ='"+jsonData[i].accountName+"' onclick='setNameFilter(\""+jsonData[i].accountName+"\");'>"+jsonData[i].accountName+"</td>";  		    
                   		    tradeRow += "<td>"+trade.price+"</td>";   
                   		    if (typeof priceMapBid[trade.instrument] == 'undefined'){
                   		    	priceMapBid[trade.instrument] = "Loading...";
                   		    }
                   		    if (typeof priceMapAsk[trade.instrument] == 'undefined'){
                   		    	priceMapAsk[trade.instrument] = "Loading...";
                   		    }
                   		    tradeRow += "<td style='color:"+colorMapBid[trade.instrument]+";' id='bid"+trade.instrument+"'>"+priceMapBid[trade.instrument]+"</td>";
                   		    tradeRow += "<td style='color:"+colorMapAsk[trade.instrument]+";'  id='ask"+trade.instrument+"'>"+priceMapAsk[trade.instrument]+"</td>";
                   		    
                   		    if(trade.stopLossOrder){
                   		    	showPrice = formatPrice(trade.stopLossOrder.price, 8);                   		    	
                   		    	tradeRow += "<td><a  class='btn btn-info' onclick='changeOrder(\""+jsonData[i].userID+"\",\""+trade.stopLossOrder.id+"\",\""+trade.stopLossOrder.price+"\",\""+trade.id+"\",\"STOP_LOSS\")'>"+showPrice+"</a></td>";
                   		    	//tradeRow += "<td>"+trade.stopLossOrder.price+"</td>";
                   		    } else{
                   		    	tradeRow += "<td><a  class='btn btn-info' onclick='stopLossOrder(\""+trade.id+"\",\""+jsonData[i].userID+"\",\""+trade.price+"\",\""+longPosition+"\")'>Stop Loss</a></td>";	
                   		    }
                   		 
                   		    
                   		    
                   		    if(trade.takeProfitOrder){                   		    	
                   		    	showPrice = formatPrice(trade.takeProfitOrder.price, 9);                   		    	
                   		    	tradeRow += "<td><a  class='btn btn-info' onclick='changeOrder(\""+jsonData[i].userID+"\",\""+trade.takeProfitOrder.id+"\",\""+trade.takeProfitOrder.price+"\",\""+trade.id+"\",\"TAKE_PROFIT\")'>"+showPrice+"</a></td>";
                   		    } else{
                   		    	tradeRow += "<td><a  class='btn btn-info' onclick='takeProfitOrder(\""+trade.id+"\",\""+jsonData[i].userID+"\",\""+trade.price+"\",\""+longPosition+"\")'>Take Profit</a></td>";	
                   		    }

                   		    tradeRow += "<td><a  class='btn btn-info' onclick='coverTrade(\""+jsonData[i].userID+"\",\""+trade.instrument+"\",\""+trade.initialUnits+"\")'>Cover</a></td>";
                   		    
                   		    if (closingId == trade.id+jsonData[i].userID){
                   		    	tradeRow += "<td><a id='"+trade.id+jsonData[i].userID+"' class='btn btn-danger'><span class='glyphicon glyphicon-ban-circle'></span></a></td>";
                   		    } else {
                   		    	tradeRow += "<td><a id='"+trade.id+jsonData[i].userID+"' class='btn btn-info' onclick='closeTrade(\""+trade.id+"\",\""+jsonData[i].userID+"\")'><span class='glyphicon glyphicon-ban-circle'></span></a></td>";	
                   		    }
                   		    
                   		    tradeRow += "</tr>";
                   		    positionTableContent += tradeRow;                    		    
                	   }                  
                }                
                table = positionTableHeader+positionTableContent+positionTableEnd;
                positionTableContent = "";
                $('#positiontarged').html(table);     
                initSorter();
                if (lastHeaderID != null){
                	inverse = !inverse;
                    $('#'+lastHeaderID).click();
                	
                }                
            }    

            
function formatPrice(price, totalLength){
   	showPrice = price;                   		    	
   	length = price.length;
   	additionalChars = totalLength-length;
   	
   	for (k = 0; k < additionalChars; k++){
   		showPrice = showPrice+"0";
   	}                  		    	
    return showPrice;
}
            
function showErrorDialog(title,message){
	 BootstrapDialog.show({
         type: BootstrapDialog.TYPE_DANGER,
         title: title,
         message: message,
         buttons: [{
             label: 'Close',
             action: function(dialogRef){
                 dialogRef.close();
             }
         }]
     });
} 






function filerPosition(jsonData, trade){
    if(instrumentFilter != "" && trade.instrument != instrumentFilter){
	       return true;	
	    }
	    
	    if(nameFilter != "" && jsonData.accountName != nameFilter){
	    	return true;	
	    }
	    
	    if(userIDFilter != "" && jsonData.userID != userIDFilter){
	    	return true;	
	    }
	    
	    if(dateFilter != "" && trade.openTime != dateFilter){
	    	return true;	
	    }
    return false;
}

function unloadcallback(){
	stompClient.disconnect();
};  


$( window ).unload(function() {
	  console.log("Window unload");
	  stompClient.disconnect();
	  priceClient.disconnect();
	});

var testFunction = function(p){alert("ich bins die testfunction "+p)};


function testAufruf(func){
	func("Sch");
};




function  initSorter(){
	th = jQuery('th');
th.click(function(){
var header = $(this),
    index = header.index();



inverse = !inverse;
lastHeaderID = $(this).attr('id');
header
    .closest('table')
    .find('td')
    .filter(function(){
        return $(this).index() === index;
    })
    .sortElements(function(a, b){
        
        a = $(a).text();
        b = $(b).text();
        
        return (
            isNaN(a) || isNaN(b) ?
                a > b : +a > +b
            ) ?
                inverse ? -1 : 1 :
                inverse ? 1 : -1;
            
    }, function(){
        return this.parentNode;
    });

});
}





$(document).ready(function() {
	$('#resetFilterButton').hide();
	$('#loader').hide();	
	updatePositions(positions);	
});


$(window).on('beforeunload', function() {
	console.log("Window onbefore");
	  stompClient.disconnect();
	  priceClient.disconnect();
}); 

/*]]>*/
</script>
<body onload="connect()">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<div class="row row-centered">
			<div class="col-lg12 col-centered">
				<h2 class="text-center">Open Positions</h2><h1 class="text-center" id="updateHeader"></h1>
				<div id="loader" class='loader'></div>
			</div>
		</div>
		<a class="btn btn-primary" name="refreshPositions" id="resetFilterButton" onclick="resetFilter();">Reset Filter</a>
		<div class="row">
			<div class="col-md-12" id="positiontarged"></div>
		</div>

	</div>
	
</body>
</html>