
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.closedpositions.title}">Closed Positions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script src="../../../resources/js/jquery.sortElements.js" th:src="@{/resources/js/jquery.sortElements.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
</head>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           

positionTableHeader = '<table class="table table-bordered" id="positionTable"><thead>'; 	   
positionTableEnd = '</table>';
positionTableContent = "";
closingId = "";
updateCounter = 0;
baseurl = /*[[@{/}]]*/;
positions = /*[[${positions}]]*/

dateFilter="";
nameFilter="";
instrumentFilter="";
userIDFilter ="";
dialog = null;

trades = [];

function resetFilter(){
	dateFilter="";
	nameFilter="";
	instrumentFilter="";
	userIDFilter ="";
	$('#resetFilterButton').text("Reset Filter");
	$('#resetFilterButton').hide();
	updatePositions(positions);
}

function setInstrumentFilter(instrument){
	instrumentFilter = instrument;	
	$("td[id^='"+instrument+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+instrument);
	$('#resetFilterButton').show();
	updatePositions(positions);
}

function setNameFilter(name){
	nameFilter = name;	
	$("td[id^='"+name+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" >"+name);
	$('#resetFilterButton').show();
	updatePositions(positions);
}

function setUserIDFilter(id){
	userIDFilter = id;	
	$("td[id^='"+id+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+id);
	$('#resetFilterButton').show();
	updatePositions(positions);
}


function setDateFilter(date){
	dateFilter = date;
	$("td[id^='"+date+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+date);
	$('#resetFilterButton').show();
	updatePositions(positions);
}


function closeTrade(tradeId, userID){
	closingId = tradeId+userID;
	$('#'+closingId).attr('class','btn btn-danger');
	$.get(  baseurl+"trade/closeTrade?tradeId="+tradeId+"&userID="+userID , function( data ) {          
          if(data != "OK"){
            alert("Close Operation failed!");
          }
     });
}

function closePosition(instrument, longPosition, userID){
	closingId = instrument+userID;
	$('#'+closingId).attr('class','btn btn-danger');
	$.get(baseurl+"position/closePosition?instrument="+instrument+"&longPosition="+longPosition+"&userID="+userID , function( data ) {          
          if(data != "OK"){
            alert("Close Operation failed!");
          }          
    });
}



function changeOrder(userID,orderID,price,tradeID,orderType){
	  var error = false;
	  var responseText = "";
		BootstrapDialog.show({
	        message: 'Update Order Price: <input type="text" class="form-control" value="'+price+'">',
	        onhide: function(dialogRef){
	        },
	        buttons: [{
	            label: 'Change Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/updateOrderDialog?userID="+userID+"&orderID="+orderID+"&price="+profitPrice+"&tradeID="+tradeID+"&orderType="+orderType, function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could not update Order",responseText);
	                   		dialogRef.setMessage('Update Take Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        {
	            label: 'Close Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/closeOrderDialog?userID="+userID+"&orderID="+orderID+"&tradeID="+tradeID , function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could close Order",responseText);
	                   		dialogRef.setMessage('Update Take Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        
	        {
	            label: 'Cancel',
	            action: function(dialogRef) {
	            	dialogRef.close();           	
	            }
	        }        
	        ]
	    });
}


function stopLossOrder(tradeID,userID){	
	window.location.href = baseurl+"order/openStopLossOrderView?userID="+userID+"&tradeID="+tradeID;
}

function takeProfitOrder(tradeID, userID, price){
  var error = false;
  var responseText = "";
	BootstrapDialog.show({
        message: 'Enter Take Profit Price: <input type="text" class="form-control">',
        onhide: function(dialogRef){
        },
        buttons: [{
            label: 'Place Order',
            action: function(dialogRef) {
            	var profitPrice = dialogRef.getModalBody().find('input').val();
            	dialogRef.setMessage("<div class='loader'></div>");
            	$.get(baseurl+"order/openTakeProfitOrderDialog?userID="+userID+"&tradeID="+tradeID+"&price="+profitPrice , function( data ) {
            		console.log(data);
            		responseText = data;
                	if(responseText == "OK"){            		
                        dialogRef.close();
                   	} else {  
                   		showErrorDialog("Could not open Order",responseText);
                   		dialogRef.setMessage('Enter Take Profit Price: <input type="text" class="form-control">');
                   	}
                });           	
            }
        },
        
        {
            label: 'Cancel',
            action: function(dialogRef) {
            	dialogRef.close();           	
            }
        }        
        ]
    });    
}



function stopLossOrder(tradeID, userID, price){
	  var error = false;
	  var responseText = "";
		BootstrapDialog.show({
	        message: 'Enter Stop Loss Price: <input type="text" class="form-control">',
	        onhide: function(dialogRef){
	        },
	        buttons: [{
	            label: 'Place Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/openStopLossOrderDialog?userID="+userID+"&tradeID="+tradeID+"&price="+profitPrice , function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could not open Order",responseText);
	                   		dialogRef.setMessage('Enter Stop Loss Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        
	        {
	            label: 'Cancel',
	            action: function(dialogRef) {
	            	dialogRef.close();           	
	            }
	        }        
	        ]
	    });    
	}




var stompClient = null;
             
            function setConnected(connected) {
            }
             
            function connect() {
                var socket = new SockJS(baseurl+'fetchData');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function(frame) {
                    setConnected(true);
                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/topic/positions', function(positions) {
                    	$('#updateHeader').text("Updatecounter: "+(updateCounter++));
                    	$('#loader').show();
                    	updatePositions(JSON.parse(positions.body));       
                    	$('#loader').hide();
                    });
                });
            }
             
            function disconnect() {
                if(stompClient != null) {
                    stompClient.disconnect();
                }
                setConnected(false);
                console.log("Disconnected");
            }
             
            function sendMessage() {
                var from = document.getElementById('from').value;
                var text = document.getElementById('text').value;
                stompClient.send("/app/chat", {}, 
                  JSON.stringify({'from':from, 'text':text}));
            }
             
            function showMessageOutput(messageOutput) {
                var response = document.getElementById('response');
                var p = document.createElement('p');
                p.style.wordWrap = 'break-word';
                p.appendChild(document.createTextNode(messageOutput.from + ": " 
                  + messageOutput.text + " (" + messageOutput.time + ")"));
                response.appendChild(p);
            }

            
            function updatePositions(response) {
                jsonData = response;    

            	   positionTableContent += "<tr class='info'>";
            	   positionTableContent += "<th id='instrumentheader'>Instrument</th>";
            	   positionTableContent += "<th >Date Order Opened</th>";
            	   positionTableContent += "<th>Date Order Closed</th>";            	   
            	   positionTableContent += "<th>PL</th>";    	   
            	   positionTableContent += "<th>Account Name</th>";
            	   positionTableContent += "</tr></thead>"; 	   

                
                for (i =0; i < jsonData.length; i++){
                   style = "danger";
                   if(jsonData[i].unrealizedPL > 0){
                	   style = "success";
                   }
                   
                  
                   console.log(jsonData[i].instrument+"---"+jsonData[i].tradeIDs);
                		    trade = jsonData[i];
                		    
                		    if (filerPosition(jsonData[i], trade)){
                		    	continue;
                		    }
                		    
                		    
                		   // 'accountName':'Stefanos Papadakis'
                		   // ,'instrument':'AUD_JPY',
                		   // ,'pl':'-0.0202',                		    
                		    
                		    
                		    tradeStyle = "danger";
                		    if(trade.realizedPL > 0){
                		    	tradeStyle = "success";	
                		    }
                   		    tradeRow = "";
                   		    tradeRow += "<tr class='"+tradeStyle+"' id='"+trade.id+"'>";
                   		    tradeRow += "<td id ='"+trade.instrument+"' onclick='setInstrumentFilter(\""+trade.instrument+"\");'>"+trade.instrument+"</td>";
                   		    tradeRow += "<td>"+trade.openTime+"</td>";
                   		    tradeRow += "<td>"+trade.closeTime+"</td>";
                   		    tradeRow += "<td>"+trade.realizedPL+"</td>";
                   		    tradeRow += "<td id ='"+jsonData[i].accountName+"' onclick='setNameFilter(\""+jsonData[i].accountName+"\");'>"+jsonData[i].accountName+"</td>";  		    
                   		    
                   		    tradeRow += "</tr>";
                   		    positionTableContent += tradeRow;                    		    
                	                     
                }                
                table = positionTableHeader+positionTableContent+positionTableEnd;
                positionTableContent = "";
                $('#positiontarged').html(table);
            }    

            
function formatPrice(price, totalLength){
   	showPrice = price;                   		    	
   	length = price.length;
   	additionalChars = totalLength-length;
   	
   	for (k = 0; k < additionalChars; k++){
   		showPrice = showPrice+"0";
   	}                  		    	
    return showPrice;
}
            
function showErrorDialog(title,message){
	 BootstrapDialog.show({
         type: BootstrapDialog.TYPE_DANGER,
         title: title,
         message: message,
         buttons: [{
             label: 'Close',
             action: function(dialogRef){
                 dialogRef.close();
             }
         }]
     });
}

function filerPosition(jsonData, trade){
	console.log("Instrument filter "+instrumentFilter+"--"+trade.instrument);
	if(instrumentFilter != "" && jsonData.instrument != instrumentFilter){    	
	       return true;	
	    }
	    
	    if(nameFilter != "" && jsonData.accountName != nameFilter){
	    	return true;	
	    }
	    
	    if(userIDFilter != "" && jsonData.userID != userIDFilter){
	    	return true;	
	    }
	    
	    if(dateFilter != "" && trade.openTime != dateFilter){
	    	return true;	
	    }
    return false;
}

var th = null;
var inverse = false; 
	
function  initSorter(){
	th = jQuery('th');
th.click(function(){
var header = $(this),
    index = header.index();



inverse = !inverse;

header
    .closest('table')
    .find('td')
    .filter(function(){
        return $(this).index() === index;
    })
    .sortElements(function(a, b){
        
        a = $(a).text();
        b = $(b).text();
        
        return (
            isNaN(a) || isNaN(b) ?
                a > b : +a > +b
            ) ?
                inverse ? -1 : 1 :
                inverse ? 1 : -1;
            
    }, function(){
        return this.parentNode;
    });

});
}
            
$(document).ready(function() {	
	$('#resetFilterButton').hide();
	updatePositions(positions);
	initSorter();
	
});
/*]]>*/
</script>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<div class="row row-centered">
			<div class="col-md12 col-centered">
				<h2 class="text-center">Closed Positions</h2><h1 class="text-center" id="updateHeader"></h1>				
			</div>
		</div>
		<a class="btn btn-primary" name="refreshPositions" id="resetFilterButton" onclick="resetFilter();">Reset Filter</a>
		<div class="row">
			<div class="col-md-12" id="positiontarged"></div>
		</div>

	</div>
	
</body>
</html>