
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.dashboard.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
</head>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
baseurl = /*[[@{/}]]*/;
wrongCurrencies = /*[[${wrongCurrencies}]]*/;
topLoosers = /*[[${topLoosers}]]*/;
topWinners = /*[[${topWinners}]]*/;

var stompClient = null;
var transactionClient = null;

function setConnected(connected) {
}

function showSinglePosition(userID, instrument){
	window.location="position/showSinglePosition?userID="+userID+"&instrument="+instrument;
}

function connect() {
    var socketRealized = new SockJS(baseurl+'updateDashBoard');
    var transactionSocket = new SockJS(baseurl+'transactionsStream');
    transactionClient = Stomp.over(transactionSocket);
    
    
    var transactionClientCallBackFunctionEmpty = function(){
    	
    }
    
    var transactionClientCallBackFunction = function(frame, client){
    	
    	$.get(  baseurl+"dashboard/starttransactionservice" , function( data ) {
    		  if(data != "OK"){
    			  BootstrapDialog.alert("Error creating Transation-Service ... Reload Page!");
        }} );
    	
    	client.subscribe("/topic/transactions",function(transaction){
    		jsonTransaction = JSON.parse(transaction.body);
    		
    		var row ="";
    		if (jsonTransaction.clientExtensions != null){
    			row = '<tr><td>'+jsonTransaction.userName+'</td><td>'+jsonTransaction.type+'</td><td>'+jsonTransaction.reason+'</td><td>'+jsonTransaction.instrument+'</td><td>'+jsonTransaction.units+'</td><td>'+jsonTransaction.currencySymbol+jsonTransaction.price+'</td><td>'+jsonTransaction.clientExtensions.comment+'</td></tr>';	 
    		} else {
    			row = '<tr><td>'+jsonTransaction.userName+'</td><td>'+jsonTransaction.type+'</td><td>'+jsonTransaction.reason+'</td><td>'+jsonTransaction.instrument+'</td><td>'+jsonTransaction.units+'</td><td>'+jsonTransaction.currencySymbol+jsonTransaction.price+'</td><td>-</td></tr>';
    		}
			
			row += sessionStorage.getItem("transactionCache");
			$("#transactionBody").html(row)
			sessionStorage.setItem("transactionCache", $("#transactionBody").html());
			
         });
    }
    
    
	var frame ="";
	transactionClient.connect({token: "TRANSACTIONS"}, transactionClientCallBackFunctionEmpty, errorConnectionCallBack);
	registerConnectionListeners(transactionSocket,transactionClient, transactionClientCallBackFunction.bind(frame, transactionClient), {token: "TRANSACTIONS"}, baseurl+'transactionsStream', transactionClientCallBackFunction.bind(frame,transactionClient));
    
    
    
    var stompClientCallBackFunctionEmpty = function(){
    	
    }
    
    var stompClientCallBackFunction = function(frame, client) {
        setConnected(true);
        console.log('Connected: ' + frame);
        client.subscribe('/topic/dashboard', function(dashboard) {
        	json = JSON.parse(dashboard.body);
        	$('#number').text(json.numberOfAccounts);
        	$('#totalNAV').text(json.totalValueOfAccounts);
        	//$('#realized').text(json.totalRealized);
        	$('#unrealized').text(json.totalUnrealized);
        	$('#realizedToday').text(json.plToday);

        	var tableContent = "";
        	for (i =0; i < json.winners.length; i++){
        		var winner = json.winners[i];
       			tableContent += '<tr ><td onclick="showSinglePosition(\''+winner.userID +'\',\''+winner.instrument +'\')">'+winner.accountName+'</td><td onclick="showSinglePosition(\''+winner.userID +'\',\''+winner.instrument +'\')">'+winner.instrument+'</td><td onclick="showSinglePosition(\''+winner.userID +'\',\''+winner.instrument +'\')" align="right">'+winner.unrealizedPL+'</td></tr>';	
        	}       	
        	
            $('#winnersBody').html(tableContent);
            
        	tableContent = "";
        	for (i =0; i < json.loosers.length; i++){
        		var looser = json.loosers[i];
       			tableContent += '<tr ><td  onclick="showSinglePosition(\''+looser.userID +'\',\''+looser.instrument +'\')">'+looser.accountName+'</td><td onclick="showSinglePosition(\''+looser.userID +'\',\''+looser.instrument +'\')">'+looser.instrument+'</td><td onclick="showSinglePosition(\''+looser.userID +'\',\''+looser.instrument +'\')" align="right">'+looser.unrealizedPL+'</td></tr>';	
        	}
            $('#looserssBody').html(tableContent);       	
        });
    }
    
    stompClient = Stomp.over(socketRealized);	
	var frame1 ="";
	stompClient.connect({token: "DASHBOARD"}, stompClientCallBackFunctionEmpty, errorConnectionCallBack);
	registerConnectionListeners(socketRealized,stompClient, stompClientCallBackFunction.bind(frame1, stompClient), {token: "DASHBOARD"}, baseurl+'updateDashBoard', stompClientCallBackFunction.bind(frame1,stompClient));
}

function disconnect() {
	alert("Disconnect");
	if(stompClient != null) {
     	alert("FrameDisconnectQue");
     	stompClient.send("/queue/test", {token: "DASHBOARDO"}, "Hello, STOMP");
     	alert("FrameDisconnec");
    	stompClient.send({token : "DASHBOARDOTZ"});
    	alert("Disconnect");
        stompClient.disconnect(function(){
        });
    }
    setConnected(false);
    console.log("Disconnected");
}

$(document).ready(function(){	
	$("#transactionBody").html(sessionStorage.getItem("transactionCache"));
});

$(window).unload(function(){
	alert("Unload");
	disconnect(); 
});

/*]]>*/
</script>
<body onload="connect()">
    
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		
		  <div class="panel panel-primary">
		  <div class="panel-heading text-center" />
		  <div class="panel-body">
		  
		  
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Profit/Loss Summary</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
								    <th>Unrealized</th>
									<th>Realized for Today</th>
									<th>Realized for this Month</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								    <td id='unrealized' align="right">60$</td>
									<td id='realizedToday' align="right" th:text="${plToday}"></td>
									<td id='realized' align="right" th:text="${plMonth}"></td>																		
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Account Summary</div>
					<div class="panel-body">
							<table class="table table-bordered">
							<thead>
								<tr>
									<th>Number of Accounts</th>
									<th>Total Value of all Accounts</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td id='number'>500</td>
									<td id='totalNAV'>6000</td>									
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>
			</div>			
			
			
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">Top Winning Positions</div>
					<div class="panel-body">
							<table class="table table-bordered">
							<thead>
								<tr>
									<th>Account</th>
									<th>Instrument</th>
									<th>UPL</th>
								</tr>
							</thead>
							<tbody id="winnersBody">
							    <tr th:each="position : ${topWinners}" >
							      <td th:text="${position.accountName}" th:onclick="'showSinglePosition(\'' + ${position.userID}+ '\',\'' + ${position.instrument}+ '\' )'" />
							      <td th:text="${position.instrument}" th:onclick="'showSinglePosition(\'' + ${position.userID}+ '\',\'' + ${position.instrument}+ '\' )'"/>
							      <td align="right" th:text="${position.unrealizedPL}" th:onclick="'showSinglePosition(\'' + ${position.userID}+ '\',\'' + ${position.instrument}+ '\' )'"/>
							   </tr>
							</tbody>
						</table>					
					</div>
				</div>
			</div>
			
			
    		<div class="col-md-6">
				<div class="panel panel-danger">
					<div class="panel-heading">Top Losing Positions</div>
					<div class="panel-body">
							<table class="table table-bordered">
									<th>Account</th>
									<th>Instrument</th>
									<th>UPL</th>
							<tbody id="looserssBody">
							    <tr th:each="position : ${topLoosers}">
							      <td  th:text="${position.accountName}"  th:onclick="'showSinglePosition(\'' + ${position.userID}+ '\',\'' + ${position.instrument}+ '\' )'"/>
							      <td  th:text="${position.instrument}"   th:onclick="'showSinglePosition(\'' + ${position.userID}+ '\',\'' + ${position.instrument}+ '\' )'"/>
							      <td align="right" th:text="${position.unrealizedPL}" th:onclick="'showSinglePosition(\'' + ${position.userID}+ '\',\'' + ${position.instrument}+ '\' )'"/>
							   </tr>
							</tbody>
						</table>
					
					</div>
				</div>
			</div>
			
			
			  <div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Recent Transactions</div>
					<div class="panel-body">
							<table class="table table-bordered">
									<th>User</th>
									<th>Type</th>
									<th>Reason</th>
									<th>Instrument</th>
									<th>Units</th>
									<th>Price</th>
									<th>Tag</th>
							<tbody id="transactionBody">
							</tbody>
						</table>
					
					</div>
				</div>
			</div>			
			</div>
		  </div>
		</div>	
</body>
</html>