
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.accountmanagement.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
</head>
<script th:inline="javascript">
/*<![CDATA[*/
baseurl = /*[[@{/}]]*/;
function deleteAccount(id){
	BootstrapDialog.confirm('Do you really want to delete this Account?', function(result){
        if(result) {
        	window.location= baseurl+"account/delete?ID="+id;
        }
    });
}

function editAccount(id){
	window.location= baseurl+"account/edit?ID="+id;
}
/*]]>*/
</script>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<h2 th:text="#{view.accountmanagement.title}"/>

		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" name="refreshUser" id="refreshUser" th:href="@{/signup}">Add User</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
							<thead>
								<tr>
									<th>Account</th>
									<th>Edit Trading Profile</th>
									<th>Delete</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="account : ${accounts}">
									<td id='account'><a class="nounderline alert-link" th:href="@{/account/detail(userid=${account.userId})}"  th:text="${account.userName}"/></td>
									<td id='profile'><a class="btn btn-success" th:href="@{/tradingProfile/editProfile(userID=${account.userId})}" ><span class='glyphicon glyphicon-cog'></span></a></td>
									<td id='delete'><a class="btn btn-danger" th:onclick="'javascript:deleteAccount(\'' + ${account.id} + '\');'" ><span class='glyphicon glyphicon-ban-circle'></span></a></td>									
									<td id='edit'><a class="btn btn-success" th:onclick="'javascript:editAccount(\'' + ${account.userId} + '\');'" ><span class='glyphicon glyphicon-pencil'></span></a></td>
								</tr>
							</tbody>
						</table>		
			</div>
		</div>


	</div>
</body>
</html>