
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
positionTableHeader = '<table class="table table-bordered" id="positionTable"><tr class="info"><td>Instrument</td><td>Profit/loss</td><td>resettable Profit/Loss</td><td> unrealized Profit/Loss</td><td>Close</td></tr>';
positionTableEnd = '</table>';
positionTableContent = ""

baseurl = /*[[@{/}]]*/;

trades = [];

function closeTrade(tradeId){
	alert(baseurl+"trade/closeTrade?tradeId="+tradeId);  
	
	$.get(  baseurl+"trade/closeTrade?tradeId="+tradeId , function( data ) {          
          if(data != "OK"){
            alert("Close Operation failed!");
          }
          $("#refreshPositions").click();
     });
}

function closePosition(instrument, longPosition){
	$.get(baseurl+"position/closePosition?instrument="+instrument+"&longPosition="+longPosition , function( data ) {          
          if(data != "OK"){
            alert("Close Operation failed!");
          }
          $("#refreshPositions").click();
     });
}



function refreshPositions(targetUrl){

positionsUrl = targetUrl + "position/positions";
positionTableContent = "";

$.getJSON( positionsUrl, function( response ) {
    jsonData = response;    
    
    
    for (i =0; i < jsonData.length; i++){
       console.log(jsonData[i].instrument);
       
       style = "danger";
       if(jsonData[i].unrealizedPL > 0){
    	   style = "success";
       }
       
       
       if (jsonData[i].positionShort.tradeIDs == null){
    	   longPosition = 1;
       } else{
    	   longPosition = 0;
       }

	       positionTableContent += '<tr class="'+style+'"><td>'+jsonData[i].instrument+'</td><td>'+jsonData[i].pl+'</td><td>'+jsonData[i].resettablePL+'</td><td>'+jsonData[i].unrealizedPL+'</td><td><a class="btn btn-danger" onclick="closePosition(\''+jsonData[i].instrument+'\',\''+longPosition+'\')">Close</a></td></tr>';
    	   positionTableContent += "<tr class='"+style+"'>";
    	   positionTableContent += "<td colspan=5><table class='table table-bordered'><tr class='info'>";
    	   positionTableContent += "<td>currentUnits</td>";
    	   positionTableContent += "<td>financing</td>";
    	   positionTableContent += "<td>id</td>";
    	   positionTableContent += "<td>initialUnits</td>";
    	   positionTableContent += "<td>instrument</td>";
    	   positionTableContent += "<td>openTime</td>";
    	   positionTableContent += "<td>price</td>";
    	   positionTableContent += "<td>realizedPL</td>";
    	   positionTableContent += "<td>state</td>";
    	   positionTableContent += "<td>unrealizedPL</td>";
    	   positionTableContent += "<td>Close</td>";
    	   positionTableContent += "</tr>"; 	   
    	   
   	     	   
 	   
    	   

    	   for (j = 0; j < jsonData[i].trades.length; j++){
    		    trade = jsonData[i].trades[j];
    		    tradeStyle = "danger";
    		    if(trade.unrealizedPL > 0){
    		    	tradeStyle = "success";	
    		    }
       		    tradeRow = "";
       		    tradeRow += "<tr class='"+tradeStyle+"' id='"+trade.id+"'>";
       		    tradeRow += "<td>"+trade.currentUnits+"</td>";
       		    tradeRow += "<td>"+trade.financing+"</td>";
       		    tradeRow += "<td>"+trade.id+"</td>";
       		    tradeRow += "<td>"+trade.initialUnits+"</td>";
       		    tradeRow += "<td>"+trade.instrument+"</td>";
       		    tradeRow += "<td>"+trade.openTime+"</td>";
       		    tradeRow += "<td>"+trade.price+"</td>";
       		    tradeRow += "<td>"+trade.realizedPL+"</td>";
       		    tradeRow += "<td>"+trade.state+"</td>";
       		    tradeRow += "<td>"+trade.unrealizedPL+"</td>";
       		    tradeRow += "<td><a class='btn btn-danger' onclick='closeTrade("+trade.id+")'>Close</a></td>";
       		    tradeRow += "</tr>";
       		    positionTableContent += tradeRow;
        		    
    	   }
    	 positionTableContent += "</table></td></tr>";
       
          
    }
});
}

$(document).ajaxStop(function () {    
    table = positionTableHeader+positionTableContent+positionTableEnd;
    $('#positiontarged').html(table);
})
 
/*]]>*/
</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
 <h2 th:text="${username}"></h2>
	

    
    <div class="row">
     <div class="col-md-12" id="positiontarged">
     </div>
    </div>
    
    
 
   <table class="table table-bordered">
    <thead>
      
      
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    
    
    
    <tbody>  
      <tr><td>NAV</td><td th:text="${accountdetails.NAV}"></td></tr>
      <tr><td>alias</td><td th:text="${accountdetails.alias}"></td></tr>
      <tr><td>balance</td><td th:text="${accountdetails.balance}"></td></tr>
      <tr><td>createdByUserID</td><td th:text="${accountdetails.createdByUserID}"></td></tr>
      <tr><td>createdTime</td><td th:text="${accountdetails.createdTime}"></td></tr>
      <tr><td>currency</td><td th:text="${accountdetails.currency}"></td></tr>
      <tr><td>id</td><td th:text="${accountdetails.id}"></td></tr>
      <tr><td>lastTransactionID</td><td th:text="${accountdetails.lastTransactionID}"></td></tr>
      <tr><td>marginAvailable</td><td th:text="${accountdetails.marginAvailable}"></td></tr>
      <tr><td>marginCloseoutMarginUsed</td><td th:text="${accountdetails.marginCloseoutMarginUsed}"></td></tr>
      <tr><td>marginCloseoutNAV</td><td th:text="${accountdetails.marginCloseoutNAV}"></td></tr>
      <tr><td>marginCloseoutPercent</td><td th:text="${accountdetails.marginCloseoutPercent}"></td></tr>
      <tr><td>marginCloseoutPositionValue</td><td th:text="${accountdetails.marginCloseoutPositionValue}"></td></tr>
      <tr><td>marginCloseoutUnrealizedPL</td><td th:text="${accountdetails.marginCloseoutUnrealizedPL}"></td></tr>
      <tr><td>marginRate</td><td th:text="${accountdetails.marginRate}"></td></tr>
      <tr><td>marginUsed</td><td th:text="${accountdetails.marginUsed}"></td></tr>
      <tr><td>openPositionCount</td><td th:text="${accountdetails.openPositionCount}"></td></tr>
      <tr><td>openTradeCount</td><td th:text="${accountdetails.openTradeCount}"></td></tr>
      <tr><td>pendingOrderCount</td><td th:text="${accountdetails.pendingOrderCount}"></td></tr>
      <tr><td>pl</td><td th:text="${accountdetails.pl}"></td></tr>
      <tr><td>positionValue</td><td th:text="${accountdetails.positionValue}"></td></tr>
      <tr><td>resettablePL</td><td th:text="${accountdetails.resettablePL}"></td></tr>
      <tr><td>unrealizedPL</td><td th:text="${accountdetails.unrealizedPL}"></td></tr>
      <tr><td>withdrawalLimit</td><td th:text="${accountdetails.withdrawalLimit}"></td></tr>
    </tbody>
  </table>
</div>
</body>
</html>