
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.accountsummary.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    <script src="../../../resources/js/jquery.sortElements.js" th:src="@{/resources/js/jquery.sortElements.js}"></script>
</head>
<script>
var th = null;
var inverse = false; 
	
function  initSorter(){
	th = jQuery('th');
th.click(function(){
var header = $(this),
    index = header.index();



inverse = !inverse;

header
    .closest('table')
    .find('td')
    .filter(function(){
        return $(this).index() === index;
    })
    .sortElements(function(a, b){
        
        a = $(a).text();
        b = $(b).text();
        
        return (
            isNaN(a) || isNaN(b) ?
                a > b : +a > +b
            ) ?
                inverse ? -1 : 1 :
                inverse ? 1 : -1;
            
    }, function(){
        return this.parentNode;
    });

});
}

$(document).ready(function (){
	initSorter();
});
</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
  
    			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading" th:text="#{view.accountsummary.title}"/>
					<div class="panel-body">
							<table class="table table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>Instrument</th>
									<th>Interval</th>
									<th>Default Units</th>
									<th>Mass Trading</th>
									<th>Engine Trading</th>
								</tr>
							</thead>
							<tbody id="winnersBody">
							    <tr th:each="summary : ${summaries}" >
							      <td><a th:text="${summary.username}" th:href="@{/tradingProfile/editProfile(userID=${summary.userID})}"/></td>
							      <td th:text="${summary.instrument}" />
							      <td th:text="${summary.interval}" />
							      <td th:text="${summary.units}" />
							      <td th:text="${summary.masssTrade}" />
							      <td th:text="${summary.engine}" />							      
							   </tr>
							</tbody>
						</table>					
					</div>
				</div>
			</div>
    

    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>