
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<h2>
			All tradeable instruments for this Account: <span th:text="${username}" />
		</h2>

		<div th:each="instrument : ${instruments}" class="row">
			<div class="col-md-4">
			   <span  th:text="${instrument.displayName}" />
			</div>
			<div class="col-md-4">
					<a  th:href="@{/instrument/chart(userid=${account.userId},instrument=${instrument.name},granularity=M15)}"  >15 Min</a>
    		</div>
	    	<div class="col-md-2">				
					<a  th:href="@{/instrument/chart(userid=${account.userId},instrument=${instrument.name},granularity=H1)}"  >1 Hour</a>				
			</div>
	     	<div class="col-md-2">				
					<a  th:href="@{/instrument/chart(userid=${account.userId},instrument=${instrument.name},granularity=D)}"  >1 Day</a>				
			</div>
		</div>



	</div>
</body>
</html>