<script th:inline="javascript">
/*<![CDATA[*/
baseurl = /*[[@{/}]]*/;
function deleteAlgorithm(id){
	BootstrapDialog.confirm('Do you really want to delete this Algorithm?', function(result){
        if(result) {
        	window.location= baseurl+"tradingAlgorithm/delete?ID="+id;
        }
    });
}
/*]]>*/
</script>

	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">


		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" name="refreshUser" id="refreshUser" th:href="@{/tradingAlgorithm/editAlgorithm(name='New Algorithm')}">Add Trading Algorithm</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
							<thead>
								<tr>
									<th>Trading Algorithm</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="algorithm : ${algorithms}">
									<td ><h3    th:text="${algorithm.algorithmName}"/></td>
									<td ><a class="btn btn-success" th:href="@{/tradingAlgorithm/editAlgorithm(name=${algorithm.algorithmName})}"><span class='glyphicon glyphicon-cog'></span></a></td>
									<td ><a class="btn btn-danger"   th:onclick="'javascript:deleteAlgorithm(\'' + ${algorithm.dbID} + '\');'"><span class='glyphicon glyphicon-ban-circle'></span></a></td> 									
								</tr>
							</tbody>
						</table>		
			</div>
		</div>


	</div>
