
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trading-Profile</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script  th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>    



</head>
<script th:inline="javascript">
	/*<![CDATA[*/

signalIndex = /*[[${algorithmForm.signals.size()}]]*/;	           
postSignalIndex = /*[[${algorithmForm.postTradngSignals.size()}]]*/;	
success = 	  /*[[${success}]]*/;
	           

	
	function moveDown(id) {
		var changeId = $('#'+id).next().attr('id');
	    $('#'+id).insertAfter($('#'+changeId));
	    updateIDs()
	}
	
	function moveUp(id) {
		var changeId = $('#'+id).prev().attr('id');
	    $('#'+id).insertBefore($('#'+changeId));
	    updateIDs()
	}
	
	function deleteSignal(id) {
		var changeId = $('#'+id).prev().attr('id');
	    $('#'+id).remove();
	    signalIndex--;
	    
	    updateIDs();
	}
	
	function deletePostTradingSignal(id) {
		var changeId = $('#'+id).prev().attr('id');
	    $('#'+id).remove();
	    postSignalIndex--;
	    updatePostTradeIDs();
	}
	
	
	
	function updateIDs(){
	    var signalCounter = 0;
		$('[identifier^="hiddenDBID"]').each(function(){
			$(this).attr('name','signals['+signalCounter+'].dbID');	
			$(this).attr('id','signals'+signalCounter+'.dbID');
			
			signalCounter++;
			
		});
		
		signalCounter = 0;
		$('[identifier^="hiddenDescription"]').each(function(){
			$(this).attr('name','signals['+signalCounter+'].description');
			$(this).attr('id','signals'+signalCounter+'.description');
			signalCounter++;
			
		});		
	}
	
	function updatePostTradeIDs(){
	    var signalCounter = 0;
		$('[identifier^="hiddenPostTradeDBID"]').each(function(){
			$(this).attr('name','postTradngSignals['+signalCounter+'].dbID');	
			$(this).attr('id','postTradngSignals'+signalCounter+'.dbID');			
			signalCounter++;			
		});
		
		signalCounter = 0;
		$('[identifier^="hiddenPostTradeDescription"]').each(function(){
			$(this).attr('name','postTradngSignals['+signalCounter+'].description');
			$(this).attr('id','postTradngSignals'+signalCounter+'.description');
			signalCounter++;
			
		});		
	}


	
	

	
	$(document).ready(function() {
		
		if (success){
			BootstrapDialog.alert('Algorithm successfully saved!');	
		}
		
		
		$('#postTradingSignalList').change(function(){
			if ($(this).val() == '--Not Selected--'){
				return;
			}
			
			var signalInsertDiv = '<div class="form-control" id="postTradingsignalItem'+postSignalIndex+'"><label id="lablitch">'+$("#postTradingSignalList option:selected").text()+'</label><span style="float:right" class="glyphicon glyphicon-minus" aria-hidden="true" onclick="deletePostTradingSignal(&#39;postTradingsignalItem'+postSignalIndex+'&#39;)"></span><input type="hidden" identifier="hiddenPostTradeDBID" id="postTradngSignals'+postSignalIndex+'.dbID" name="postTradngSignals['+postSignalIndex+'].dbID" value="'+$(this).val()+'" /><input type="hidden" identifier="hiddenPostTradeDescription" id="postTradngSignals'+postSignalIndex+'.description" name="postTradngSignals['+postSignalIndex+'].description" value="'+$("#postTradingSignalList option:selected").text()+'" /></div>';
			$('#postTradingsignalParentDiv').append(signalInsertDiv);
			postSignalIndex++;
			
			$(this).val('--Not Selected--');
			
		});

		$('#signalList').change(function(){
			if ($(this).val() == '--Not Selected--'){
				return;
			}
			
			var signalInsertDiv = '<div class="form-control" id="signalItem'+signalIndex+'"><label id="lablitch">'+$("#signalList option:selected").text()+'</label><span style="float:right" class="glyphicon glyphicon-minus" aria-hidden="true" onclick="deleteSignal(&#39;signalItem'+signalIndex+'&#39;)"></span><span style="float:right" class="glyphicon glyphicon-menu-up" aria-hidden="true" onclick="moveUp(&#39;signalItem'+signalIndex+'&#39;)"></span><span style="float:right" class="glyphicon glyphicon-menu-down" aria-hidden="true" onclick="moveDown(&#39;signalItem'+signalIndex+'&#39;)"></span><input type="hidden" identifier="hiddenDBID" id="signals'+signalIndex+'.dbID" name="signals['+signalIndex+'].dbID" value="'+$(this).val()+'" /><input type="hidden" identifier="hiddenDescription" id="signals'+signalIndex+'.description" name="signals['+signalIndex+'].description" value="'+$("#signalList option:selected").text()+'" /></div>';
			$('#signalParentDiv').append(signalInsertDiv);
			signalIndex++;
			$(this).val('--Not Selected--');
		});
	});

	/*]]>*/
</script>
<body>

	<div th:replace="fragments/header :: header">&nbsp;</div>

	<form class="form-narrow form-horizontal" method="post" th:action="@{/update/tradingalgorithm}" th:object="${algorithmForm}">
		<!--/* Show general error message when form contains errors */-->
		<th:block th:if="${#fields.hasErrors('${algorithmForm.*}')}">
			<div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
		</th:block>
		<fieldset>
			<legend>Edit Trading Algorithm</legend>
			<div class="form-group" th:classappend="${#fields.hasErrors('algorithmName')}? 'has-error'">
				<label for="algorithmName" style="text-align: left" class="col-lg-3 control-label">Name</label>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="algorithmName" placeholder="Algorithm-Name" th:field="*{algorithmName}" />					
				    <span class="help-block" th:if="${#fields.hasErrors('*{algorithmName}')}" th:errors="*{algorithmName}">Name</span>
				    <input type="hidden"  id="dbID"  th:field="*{dbID}"/>
				</div>
			</div>
			
			
			<div class="form-group" th:classappend="${#fields.hasErrors('stopLossPips')}? 'has-error'">
				<label for="stopLossPips" style="text-align: left" class="col-lg-3 control-label" >Stop&nbsp;Loss&nbsp;Pips</label>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="stopLossPips" placeholder="Stop Loss Pips" th:field="*{stopLossPips}" />					
				    <span class="help-block" th:if="${#fields.hasErrors('*{stopLossPips}')}" th:errors="*{stopLossPips}">Stop Loss Pipps</span>
				</div>
			</div>
			
    		<div class="form-group" th:classappend="${#fields.hasErrors('takeProfitPips')}? 'has-error'">
				<label for="takeProfitPips" style="text-align: left" class="col-lg-3 control-label">Take&nbsp;Profit&nbsp;Pips</label>
				<div class="col-lg-9">
					<input type="text" class="form-control" id="takeProfitPips" placeholder="Take Profit Pips" th:field="*{takeProfitPips}" />					
				    <span class="help-block" th:if="${#fields.hasErrors('*{takeProfitPips}')}" th:errors="*{takeProfitPips}">Take Profit Pips</span>
				</div>
			</div>
			
			
			<div class="form-group" th:classappend="${#fields.hasErrors('buy')}? 'has-error'">
				<label for="buy" class="col-lg-2 control-label">Buy</label>
				<div class="col-lg-10">
		            <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="true"  />BUY</label>
                    <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="false" />SELL</label>
					
				    <span class="help-block" th:if="${#fields.hasErrors('*{buy}')}" th:errors="*{buy}">Buy</span>
				</div>
			</div>
			
			<div>
				<legend> TradingSignals </legend>

				<div class="form-group">
				<div class="col-lg-offset-1 col-lg-10">
					<label for="signalList">Add TradingSignal</label> <select id="signalList" class="form-control">
						<option>--Not Selected--</option>
						<option th:each="signal : ${allSignals}" th:value="${signal.dbID}" th:text="${signal.description}"></option>
					</select>
				</div>
				</div>
				
				
			   <div id='signalParentDiv'>
			   <div class="form-control" th:each="signal : ${algorithmForm.signals}" th:id="signalItem+${signal.dbID}">
					<label id='lablitch' th:text="${signal.description}"></label>
					<span  th:onclick="'deleteSignal(\'' +'signalItem'+${signal.dbID} + '\')'" style="float:right"  class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					<span  th:onclick="'moveUp(\'' +'signalItem'+${signal.dbID} + '\')'" style="float:right"  class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
					<span  th:onclick="'moveDown(\'' +'signalItem'+${signal.dbID} + '\')'" style="float:right"  class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					<input type="hidden" identifier = "hiddenDBID" th:field="*{signals[__${signalStat.index}__].dbID}" />                      
					<input type="hidden" identifier = "hiddenDescription" th:field="*{signals[__${signalStat.index}__].description}" />
				</div>
				</div>			
			</div>
			
		<div> 
			<legend> Post-TradingSignals </legend>
			<div class="form-group">
				<div class="col-lg-offset-1 col-lg-10">
					<label for="signalList">Add PostTradingSignal</label> <select id="postTradingSignalList" class="form-control">
						<option>--Not Selected--</option>
						<option th:each="signal : ${allPostSignals}" th:value="${signal.dbID}" th:text="${signal.description}"></option>
					</select>
				</div>
			</div>
			   <div id='postTradingsignalParentDiv'>
			   <div class="form-control" th:each="signal : ${algorithmForm.postTradngSignals}" th:id="postTradingsignalItem+${signal.dbID}">
					<label id='lablitch' th:text="${signal.description}"></label>
					<span  th:onclick="'deletePostTradingSignal(\'' +'postTradingsignalItem'+${signal.dbID} + '\')'" style="float:right"  class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					<input type="hidden" identifier = "hiddenPostTradeDBID" th:field="*{postTradngSignals[__${signalStat.index}__].dbID}" />                      
					<input type="hidden" identifier = "hiddenPostTradeDescription" th:field="*{postTradngSignals[__${signalStat.index}__].description}" />
				</div>
				</div>
	</div>
			
		    
		            <div class="form-group">
            <div class="col-lg-10">
                
            </div>
        </div>
		    
        <div class="form-group">
            <div class="col-lg-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
           

		</fieldset>
	</form>

</body>
</html>