
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <h1>AutoTrader</h1>
        <p class="lead">
            <h3 th:text="'Running: '+${engine.running}"/>             
            <h3 th:text="'StartupDate: '+${engine.startUpDate}"/>
        </p> 
               
        <a class="btn btn-success" th:href="@{/tradingengine/startEngine}" th:if="!${engine.running}" >Start Engine</a>
        <a class="btn btn-danger" th:href="@{/tradingengine/stopEngine}" th:if="${engine.running}" >Stop Engine</a>
        
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>