
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.testmanagement.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
<script src="../../../resources/js/jquery.sortElements.js" th:src="@{/resources/js/jquery.sortElements.js}"></script>
</head>
<script th:inline="javascript">
/*<![CDATA[*/
baseurl = /*[[@{/}]]*/;


function startTest(testID){
	
	$('#'+testID).html("Running");
	$('#'+testID).attr('class','btn btn-danger');
	
	$.get(baseurl+"testing/startTest?testID="+testID , function( data ) {          
        if(data != "OK"){
        	$('#'+testID).html("ERROR");
        	$('#'+testID).attr('class','btn btn-danger');
        } else {
        	$('#'+testID).html("Success");
        	$('#'+testID).attr('class','btn btn-success');
        }          
  });
	
}

function showTrades(testID){	
	window.location = baseurl+"reports/showAllTradesForTest?testID="+testID;
}

function deleteTrade(testID){	
	window.location = baseurl+"testing/deleteTest?testID="+testID;
}


var th = null;
var inverse = false; 
	
function  initSorter(){
	th = jQuery('th');
th.click(function(){
var header = $(this),
    index = header.index();



inverse = !inverse;

header
    .closest('table')
    .find('td')
    .filter(function(){
        return $(this).index() === index;
    })
    .sortElements(function(a, b){
        
        a = $(a).text();
        b = $(b).text();
        
        return (
            isNaN(a) || isNaN(b) ?
                a > b : +a > +b
            ) ?
                inverse ? -1 : 1 :
                inverse ? 1 : -1;
            
    }, function(){
        return this.parentNode;
    });

});
}


$(document).ready(function(){
	initSorter();
});

/*]]>*/
</script>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<h2 th:text="#{view.testmanagement.title}"/>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
							<thead>
								<tr>
									<th>UserID</th>
									<th>TestID</th>
									<th>RunType</th>
									<th>Algorithm</th>
									<th>Instrument</th>
									<th>Interval</th>
									<th>Units</th>
									<th>Startdate</th>
									<th>Enddate</th>
									<th>Trade</th>
									<th>Transactions</th>
									<th>Start Test</th>
									<th>Show Trades</th>
									<th>Delete Test</th>
								</tr>
							</thead>
							<tbody>
							
							

    						<tr th:each="test : ${tests}">
    						    <td th:text="${test.userID}"/>
    						    <td th:text="${test.dbID}"/>
    						    <td th:text="${test.RunType}"/>
								<td th:text="${test.algorithmName}"/>
								<td th:text="${test.instrument}"/>
								<td th:text="${test.interval}"/>
								<td th:text="${test.units}"/>								
								<td th:text="${test.startDate}"/>
								<td th:text="${test.endDate}"/>
								<td th:text="${test.generateTrades}"/>
							<td th:text="${test.maxNumberOfTransactions}"/>
								<td th:if="${test.status.name() !=  'RUNNING'}"><a  th:id="${test.dbID}" class='btn btn-primary' th:onclick="'startTest(\'' + ${test.dbID}+ '\')'">Start Test</a></td>
								<td th:if="${test.status.name() == 'RUNNING'}"><a  th:id="${test.dbID}" class='btn btn-danger' >RUNNING</a></td>
								<td><a class='btn btn-primary' th:onclick="'showTrades(\'' + ${test.dbID}+ '\')'">Show Trades</a></td>
								<td><a class='btn btn-danger' th:onclick="'deleteTrade(\'' + ${test.dbID}+ '\')'">Delete Test</a></td>
								</tr>
							</tbody>
						</table>		
			</div>
		</div>


	</div>
</body>
</html>