
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/moment.js" th:src="@{/resources/js/moment.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
    <script src="../../../resources/js/bootstrap-datetimepicker.min.js" th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    <link href="../../../resources/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" />
</head>
<script>
$(document).ready(function(){
	
	if($("#runtypeSelection").val() == "BACK_TESTING"){
		$("#startDateDiv").show();
		$("#endDateDiv").show();
	} else {
		$("#startDateDiv").hide();
		$("#endDateDiv").hide();
	}
	
	
	$("#runtypeSelection").change(function(){
		if ($(this).val() == "BACK_TESTING"){
			$("#startDateDiv").show();
			$("#endDateDiv").show();			
		} else {
			$("#startDateDiv").hide();
			$("#endDateDiv").hide();
		}
	});
	

	
	 $('#birthdayDatePicker').datetimepicker(	    
		 	    {
		 	      format: "mm/dd/yyyy",
			 	  date: $("#birtdate").val()
		    	}
			 );
	
	
	 $('#startDatePicker').datetimepicker(	    
 	    {
		  format: 'DD/MM/YYYY HH:mm',
	 	  date: $("#startDate").val()
    	}
	 );
	 
	 
     $('#endDatePicker').datetimepicker({	     
	     format: 'DD/MM/YYYY HH:mm',
    	 date: $("#endDate").val(),
         useCurrent: false //Important! See issue #1075
     });
     $("#startDatePicker").on("dp.change", function (e) {
         $('#endDatePicker').data("DateTimePicker").minDate(e.date);
     });
     $("#endDatePicker").on("dp.change", function (e) {
         $('#startDatePicker').data("DateTimePicker").maxDate(e.date);
     });
	
     
});
</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
<form class="form-narrow form-horizontal" method="post" th:action="@{/testing/startTest}" th:object="${testForm}">
<fieldset>
        <legend>Generate Test Case</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('userID')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">Account</label>
            <div class="col-lg-10">
                   <select id = 'userSelection' class="form-control" th:field="*{userID}">
                       <option th:value="NULL" >---Select Account---</option>
                       <option th:each="account : ${accounts}" th:value="${account.userId}" th:text="${account.userName}">userID</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Incorrect UserId</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('algorithmName')}? 'has-error'">
            <label for="algorithmName" class="col-lg-2 control-label">Algorithm</label>
            <div class="col-lg-10">
                   <select id = 'algorithmSelection' class="form-control" th:field="*{algorithmName}">
                       <option th:value="NULL" >---Select Algorithm---</option>
                       <option th:each="algorithm : ${algorithms}" th:value="${algorithm}" th:text="${algorithm}">algorithmName</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('algorithmName')}" th:errors="*{algorithmName}">algorithmName</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('instrument')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">Instrument</label>
            <div class="col-lg-10">
                   <select id = 'userSelection' class="form-control" th:field="*{instrument}">
                       <option th:value="NULL" >---Select Instrument---</option>
                       <option th:each="instrument : ${instruments}" th:value="${instrument.name}" th:text="${instrument.name}">instrument</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('instrument')}" th:errors="*{instrument}">Incorrect Instrument</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('interval')}? 'has-error'">
            <label for="interval" class="col-lg-2 control-label">Interval</label>
            <div class="col-lg-10">
                   <select id = 'intervalSelection' class="form-control" th:field="*{interval}">
                       <option th:value="NULL" >---Select Interval---</option>
                       <option th:each="interval : ${intervals}" th:value="${interval}" th:text="${interval.name}">interval</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('interval')}" th:errors="*{interval}">Incorrect Interval</span>
            </div>
        </div>
        
       <div class="form-group" th:classappend="${#fields.hasErrors('runType')}? 'has-error'">
            <label for="runType3" class="col-lg-2 control-label">Run-Type</label>
            <div class="col-lg-10">
                   <select id = 'runtypeSelection' class="form-control" th:field="*{runType}">
                       <option th:value="NULL" >---Select Run Type---</option>
                       <option th:each="runType : ${runTypes}" th:value="${runType}" th:text="${runType.name}">RunType</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('runType')}" th:errors="*{runType}">Incorrect RunType</span>
            </div>
        </div>
        
       <div class="form-group" th:classappend="${#fields.hasErrors('generateTrades')}? 'has-error'">
            <label for="generateTrades" class="col-lg-2 control-label">Generate-Trades</label>
            <div class="col-lg-10">
             
             <label class="radio-inline"><input type="radio" th:field="*{generateTrades}" th:value="true"  />Yes</label>
             <label class="radio-inline"><input type="radio" th:field="*{generateTrades}" th:value="false" />No</label>
             
                <span class="help-block" th:if="${#fields.hasErrors('generateTrades')}" th:errors="*{generateTrades}">Incorrect TradeFlage</span>
            </div>
        </div>
        
        <div id="startDateDiv" class="form-group" >
        <label for="generateTrades" class="col-lg-2 control-label">Start-Date</label>
        <div class="col-lg-10">
        <div class="input-group date" id='startDatePicker'>
           <input type="text" class="form-control" th:field="*{startDate}"/>
           <div class="input-group-addon">
           <span class="glyphicon glyphicon-th"></span>
           </div>
        </div>
        </div>
        </div>
        
        <div id="endDateDiv" class="form-group">
        <label for="generateTrades" class="col-lg-2 control-label" >End-Date</label>
        <div class="col-lg-10">
        <div class="input-group date" id="endDatePicker">
           <input type="text" class="form-control" th:field="*{endDate}"/>
           <div class="input-group-addon">
           <span class="glyphicon glyphicon-th"></span>
           </div>
        </div>
        </div>
        </div>
        
        
       
        <div class="form-group" th:classappend="${#fields.hasErrors('units')}? 'has-error'">
            <label for="units" class="col-lg-2 control-label">Units</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="price" placeholder="Units" th:field="*{units}" />
                <span class="help-block" th:if="${#fields.hasErrors('units')}" th:errors="*{units}">Units</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('maxNumberOfTransactions')}? 'has-error'">
            <label for="maxNumberOfTransactions" class="col-lg-2 control-label">Max-Transactions</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="price" placeholder="Max-Transactions" th:field="*{maxNumberOfTransactions}" />
                <span class="help-block" th:if="${#fields.hasErrors('maxNumberOfTransactions')}" th:errors="*{maxNumberOfTransactions}">Incorrect Transactions</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <table>
                  <tr>
                  <td><button type="submit" class="btn btn-default" onclick="$('#loader').show()">Save Test</button></td>
                  </tr>
                </table>              
            </div>
        </div>
        
</fieldset>
</form>
</div>
</body>
</html>