
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>

<body>



<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var  baseurl = /*[[@{/}]]*/;
var statusConditions = /*[[${statusConditions}]]*/;

var client = null;
var messageSocket = null;
var messageStompClient = null;

var reconnectionMap = [];
var connectionCounter =0;
var connectionList = [];

var dashboard,transaction,price,position,message=false;

function stausOK(){
	
	if(statusConditions == null){
		statusConditions = ["MESSAGE"];
	}
	
	for (i = 0; i <statusConditions.length; i++){
		if (statusConditions[i] == "DASHBOARD" && !dashboard){
			return false;
		}
		if (statusConditions[i] == "TRANSACTION" && !transaction){
			return false;
		}
		if (statusConditions[i] == "PRICE" && !price){
			return false;
		}
		if (statusConditions[i] == "POSITION" && !position){
			return false;
		}
		if (statusConditions[i] == "MESSAGE" && !message){
			return false;
		}
	}
	return true;	
}

function updatePageStatus(){	
  if(stausOK()){
	  $('#pageConnectionStatus').removeClass();
	  $('#pageConnectionStatus').addClass("glyphicon glyphicon-ok-sign");
	  $('#pageConnectionStatus').attr("style", "color: green");
  } else {
	  $('#pageConnectionStatus').removeClass();
	  $('#pageConnectionStatus').addClass("glyphicon glyphicon-remove-sign");
	  $('#pageConnectionStatus').attr("style", "color: red");
  }  
}

function setStatusSuccess(tokenValue){
    //positionConnectionStatus
    //dashboardConnectionStatus
    //priceConnectionStatus
    if(tokenValue == "PRICES_POSITION" ||tokenValue =="PRICES_MARKET_ORDER"  ||tokenValue =="PRICES_OPEN_ORDERS"){ 	
    	$('#priceConnectionStatus').removeClass();
        $('#priceConnectionStatus').addClass("glyphicon glyphicon-euro");
        price = true;
    }
    if (tokenValue == "ALL_POSITIONS" || tokenValue == "SINGLE_POSITION" || tokenValue == "ALL_ORDERS"){
    	$('#positionConnectionStatus').removeClass();
        $('#positionConnectionStatus').addClass("glyphicon glyphicon-signal");
        position = true;
    }
    
    if(tokenValue == "GLOBAL_MESSAGE"){
    	$('#connectionStatus').removeClass();
        $('#connectionStatus').addClass("glyphicon glyphicon-envelope"); 
        message = true;
    }
    
    if(tokenValue == "DASHBOARD"){
    	$('#dashboardConnectionStatus').removeClass();
        $('#dashboardConnectionStatus').addClass("glyphicon glyphicon-th"); 
        dashboard = true;
    } 
    
    if(tokenValue == "TRANSACTIONS"){
    	$('#transactionConnectionStatus').removeClass();
        $('#transactionConnectionStatus').addClass("glyphicon glyphicon-inbox");
        transaction = true;
    }  
     
    updatePageStatus();
}

function setStatusFail(tokenValue){
    //positionConnectionStatus
    //dashboardConnectionStatus
    //priceConnectionStatus
    if(tokenValue == "PRICES_POSITION" ||tokenValue =="PRICES_MARKET_ORDER" ||tokenValue =="PRICES_OPEN_ORDERS"){ 	
    	$('#priceConnectionStatus').removeClass();
        $('#priceConnectionStatus').addClass("glyphicon glyphicon-ban-circle");
        price = false;
    }
    if (tokenValue == "ALL_POSITIONS" || tokenValue == "SINGLE_POSITION" || tokenValue == "ALL_ORDERS"){
    	$('#positionConnectionStatus').removeClass();
        $('#positionConnectionStatus').addClass("glyphicon glyphicon-ban-circle");
        position = false;
    }
    
    if(tokenValue == "GLOBAL_MESSAGE"){
    	$('#connectionStatus').removeClass();
        $('#connectionStatus').addClass("glyphicon glyphicon-ban-circle");
        message = false;
    }
    
    if(tokenValue == "DASHBOARD"){
    	$('#dashboardConnectionStatus').removeClass();
        $('#dashboardConnectionStatus').addClass("glyphicon glyphicon-ban-circle");    	
        dashboar = false;
    }
    if(tokenValue == "TRANSACTIONS"){
    	$('#transactionConnectionStatus').removeClass();
        $('#transactionConnectionStatus').addClass("glyphicon glyphicon-ban-circle");
        transaction = false;
    }
    
    updatePageStatus();
}


function registerConnectionListeners(socket, client,connectFunction, header, url, subscribeFunction){	
	console.log("Registering Client in Method 1.0"+tokenValue);
		
	var connectCallback = subscribeFunction;
	var connected = false;
	var connectionCounter = 0;
	var tokenValue = header['token'];
	
	console.log("Socket Socket Socket to connect  addOpenListener "+socket);
	
	socket.addEventListener('open', function(e){
		console.log("####################   Connection Opened ##################")
		console.log("####################   Connection Opened ##################")
		console.log("####################   Connection Opened ##################")
		var frame ="";
		subscribeFunction(client);
		setStatusSuccess(tokenValue)
		console.log("####################   Method Called ##################")
		console.log("####################   Method Called ##################")
		
		});
	console.log("Socket Socket Socket to connect  addClose  "+socket);
	socket.addEventListener('close', function(e){
		console.log("######################  Close ####################################"+e);
		if (!e.wasClean){
			reconnectionMap[tokenValue] = [];
		
			
			console.log("Now reconnect!");
			var frame ="";
			console.log("Set interval");
			
			console.log("Try to reconnect lost connection! "+tokenValue+" url "+url);
			
			
			var reconnectInterval = setInterval(function(){
				
				//connectionList.push(reconnectClient);				
				
				console.log("Create Client ! "+tokenValue +" client "+ reconnectClient+ " "+connectionList.length);

				var reconnectSocket = new SockJS(url);
				
				var reconnectClient = Stomp.over(reconnectSocket);
				
				reconnectClient.debug = null

				console.log("Try to reconnect from timer !!");
				
				connected = false;
				

				reconnectClient.connect(header, function(frame){
					    console.log("Reconnected !!"+tokenValue+ "clear interval "+reconnectInterval);
					    				    
					    
						console.log(reconnectionMap[tokenValue] +" ##### "+tokenValue);
					    if (reconnectionMap[tokenValue] == tokenValue){
					    	console.log("Entry in Connection map....exit and disconnect "+tokenValue);					    	
					    	clearInterval(reconnectInterval);
					    	console.log("Timer stopped!!");
					    	reconnectClient.disconnect();
					    	return;
					    }
					    
					    console.log("Calling Subscript - Method !!");
					    
					    subscribeFunction(reconnectClient);
					    
					    console.log("Finish  Subscript - Method !!");
					    
					    setStatusSuccess(tokenValue);
					    
					    registerConnectionListeners(reconnectSocket,reconnectClient, subscribeFunction.bind(reconnectClient), header, url, subscribeFunction.bind(reconnectClient));	    
					    reconnectionMap[tokenValue] = tokenValue;
					    console.log("##################################   Create Entry in Conenction Map################################");
					    
					    
					    console.log("Registering finish!!");						
						
						connected = true;
						}, errorConnectionCallBack);
				
			    
						
			}, 1000);
		}
		
		setStatusFail(tokenValue);
	   });
	console.log("Socket Socket Socket to connect  addEROR  "+socket);
	socket.addEventListener('error', function(e){
		console.log("###############################   Error  ############################"+e);		
	    setStatusFail(tokenValue);
	    });
}


var errorConnectionCallBack = function(error){
	console.log("###############   Connection ERROR ###############"+error);
	
}

function setUpGlobalMessageSocket(){
	
	var messageClientCallBackFunctionEmpty = function(){};	
	var messageClientCallBackFunction = function(frame, client) {
        console.log('Connected: ' + frame);       
        
        client.subscribe('/topic/globalMessage', function(message) {
        	var jsonMessage = JSON.parse(message.body);
   		 BootstrapDialog.show({
             type: jsonMessage.type,
             title: jsonMessage.header,
             message: jsonMessage.message,
             buttons: [{
                 label: 'Close',
                 action: function(dialogRef){
                     dialogRef.close();
                 }
             }]
         });       	
        });
    };
	
	messageSocket = new SockJS(baseurl+'globalMessage');
	messageStompClient = Stomp.over(messageSocket);
	
	var frame ="";
	messageStompClient.connect({token: "GLOBAL_MESSAGE"}, messageClientCallBackFunctionEmpty, errorConnectionCallBack);
	registerConnectionListeners(messageSocket,messageStompClient, messageClientCallBackFunction.bind(frame, messageStompClient), {token: "GLOBAL_MESSAGE"}, baseurl+'globalMessage', messageClientCallBackFunction.bind(frame,messageStompClient));
   
    return messageSocket;
}


function showStatus(){
	alert("Socket-Status "+messageSocket.readyState );
}

$(document).ready(function(){
  setUpGlobalMessageSocket();
  $('[data-toggle="tooltip"]').tooltip();   
});
/*]]>*/
</script>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span id='pageConnectionStatus' class='glyphicon glyphicon-remove-sign' style="color:red;" data-toggle="tooltip" title="Status" data-placement="bottom"/></a>
            <a class="navbar-brand" href="#"><span id='transactionConnectionStatus' class='glyphicon glyphicon-ban-circle' data-toggle="tooltip" title="Transactions" data-placement="bottom"/></a>
            <a class="navbar-brand" href="#"><span id='positionConnectionStatus' class='glyphicon glyphicon-ban-circle' data-toggle="tooltip" title="PositionData" data-placement="bottom"/></a>
            <a class="navbar-brand" href="#"><span id='dashboardConnectionStatus' class='glyphicon glyphicon-ban-circle' data-toggle="tooltip" title="DashboardData" data-placement="bottom"/></a>
            <a class="navbar-brand" href="#"><span id='priceConnectionStatus' class='glyphicon glyphicon-ban-circle' data-toggle="tooltip" title="PriceData" data-placement="bottom"/></a>
            <a class="navbar-brand" href="#"><span id='connectionStatus' class='glyphicon glyphicon-ban-circle' data-toggle="tooltip" title="Messages" data-placement="bottom"/></a>
            
        </div>
        
        <div class="navbar-collapse collapse">
        
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/dashboard}">Dashboard</a>
                </li>
            </ul>
        
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Positions<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/position/showAllOpenPositions}">Open Positions</a></li>                
                <li><a th:href="@{/order/showAllOpenOrders}">Open Orders</a></li>
                <li><a th:href="@{/position/showAllClosedPositions}">Closed Positions</a></li>
              </ul>        
            </li>
                
            </ul>
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Trading<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/order/openMarketOrderView}">Single Order</a></li>
                <li><a th:href="@{/order/openMassMarketOrderView}">Mass Order</a></li>
              </ul>        
            </li>
            </ul>           
             <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Accounts<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/account/summary}">Summary</a></li>
                <li><a th:href="@{/account/showall}">Management</a></li>
              </ul>
                </li>
            </ul>
<!--             <ul class="nav navbar-nav">
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Accounts<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/account/showall" th:href="@{/account/showall}">Accounts</a></li>
              </ul>        
            </li>          
            </ul>
 -->            <ul class="nav navbar-nav">
                <li>
                    <a href="/comingsoon" th:href="@{/reports/showAllTrades}" >Reports</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/comingsoon" th:href="@{/settings}" >Algorithms</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Testing<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/testing}">Create Test</a></li>              
                <li><a th:href="@{/testing/showAll}">All Tests</a></li>
                <li><a th:href="@{/tradingengine/status}">Trading Engine</a></li>
                <li><a th:href="@{/reports/showAllEngineTrades}">All Engine Trades</a></li>
              </ul>
                </li>
            </ul>
            
            
            <!-- <ul class="nav navbar-nav">
                <li>
                    <a href="/tradingengine/startEngine" th:href="@{/tradingengine/startEngine}" >Start Tradingengine</a>
                </li>
            </ul>  -->
            
            

            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li >
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Logout 1.1</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>

        </div> 
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>