<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.trade.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    <script src="../../../resources/js/jquery.sortElements.js" th:src="@{/resources/js/jquery.sortElements.js}"></script>
</head>
<script th:inline="javascript">
/*<![CDATA[*/

function deleteTestRun(testRunID){	
	window.location = baseurl+"testing/deleteTestRun?testRunID="+testRunID;
}

function deleteTestRunData(testRunID){	
	window.location = baseurl+"testing/deleteTestRunData?testRunID="+testRunID;
}




var th = null;
var inverse = false;

	
function  initSorter(){
	th = jQuery('th');
th.click(function(){
var header = $(this),
    index = header.index();



inverse = !inverse;

header
    .closest('table')
    .find('td')
    .filter(function(){
        return $(this).index() === index;
    })
    .sortElements(function(a, b){
        
        a = $(a).text();
        b = $(b).text();
        
        return (
            isNaN(a) || isNaN(b) ?
                a > b : +a > +b
            ) ?
                inverse ? -1 : 1 :
                inverse ? 1 : -1;
            
    }, function(){
        return this.parentNode;
    });

});
}


function viewChart(tradeID, zoomTradeStart){	
	href=baseurl+"reports/showTradeChart?zoomTradeStart="+zoomTradeStart+"&tradeID="+tradeID;
	settings = {
			height:550, // sets the height in pixels of the window.
			width:850, // sets the width in pixels of the window.
			toolbar:0, // determines whether a toolbar (includes the forward and back buttons) is displayed {1 (YES) or 0 (NO)}.
			scrollbars:0, // determines whether scrollbars appear on the window {1 (YES) or 0 (NO)}.
			status:0, // whether a status line appears at the bottom of the window {1 (YES) or 0 (NO)}.
			resizable:1, // whether the window can be resized {1 (YES) or 0 (NO)}. Can also be overloaded using resizable.
			left:0, // left position when the window appears.
			top:0, // top position when the window appears.
			center:0, // should we center the window? {1 (YES) or 0 (NO)}. overrides top and left
			createnew:1, // should we create a new window for each occurance {1 (YES) or 0 (NO)}.
			location:0, // determines whether the address bar is displayed {1 (YES) or 0 (NO)}.
			menubar:0, // determines whether the menu bar is displayed {1 (YES) or 0 (NO)}.
		};
	
	parameters = "location=" + settings.location + ",menubar=" + settings.menubar + ",height=" + settings.height + ",width=" + settings.width + ",toolbar=" + settings.toolbar + ",scrollbars=" + settings.scrollbars  + ",status=" + settings.status + ",resizable=" + settings.resizable + ",left=" + settings.left  + ",screenX=" + settings.left + ",top=" + settings.top  + ",screenY=" + settings.top;
	winObj = window.open(href, name, parameters);
	
	if (window.focus) {winObj.focus()}	
}

function showTestRunChart(testRunID){	
	href=baseurl+"reports/showTestRunChart?testRunID="+testRunID;
	settings = {
			height:950, // sets the height in pixels of the window.
			width:1850, // sets the width in pixels of the window.
			toolbar:0, // determines whether a toolbar (includes the forward and back buttons) is displayed {1 (YES) or 0 (NO)}.
			scrollbars:0, // determines whether scrollbars appear on the window {1 (YES) or 0 (NO)}.
			status:0, // whether a status line appears at the bottom of the window {1 (YES) or 0 (NO)}.
			resizable:1, // whether the window can be resized {1 (YES) or 0 (NO)}. Can also be overloaded using resizable.
			left:0, // left position when the window appears.
			top:0, // top position when the window appears.
			center:0, // should we center the window? {1 (YES) or 0 (NO)}. overrides top and left
			createnew:1, // should we create a new window for each occurance {1 (YES) or 0 (NO)}.
			location:0, // determines whether the address bar is displayed {1 (YES) or 0 (NO)}.
			menubar:0, // determines whether the menu bar is displayed {1 (YES) or 0 (NO)}.
		};
	
	parameters = "location=" + settings.location + ",menubar=" + settings.menubar + ",height=" + settings.height + ",width=" + settings.width + ",toolbar=" + settings.toolbar + ",scrollbars=" + settings.scrollbars  + ",status=" + settings.status + ",resizable=" + settings.resizable + ",left=" + settings.left  + ",screenX=" + settings.left + ",top=" + settings.top  + ",screenY=" + settings.top;
	winObj = window.open(href, name, parameters);
	
	if (window.focus) {winObj.focus()}	
}





$(document).ready(function (){
	initSorter();
});
/*]]>*/
</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
 
    			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading" th:text="#{view.trade.title}" />
					<div class="panel-body">					
					  



					</div>
					<div class="panel-body"  th:each="testRun,iterStat : ${testRuns}" >
					<table >
					<tr>
					<td width="400">Testresults from <span th:text="${testRun.executionDate}"/></td>					
					<td width="400"><a class='btn btn-danger' th:onclick="'deleteTestRun(\'' + ${testRun.id}+ '\')'">Delete Run</a></td>
					<td><span id='toggleButton' style="float:right"  class="glyphicon glyphicon-menu-down" data-toggle="collapse" th:attr="data-target='#testRun'+${iterStat.index}" aria-hidden="true"/></td>
					</tr>
					</table>
					
					<div  class="collapse" th:id="testRun+${iterStat.index}">
					<table class="table table-bordered">
                     <tr>
					 <td>Execution Date:</td>
					 <td th:text="${testRun.executionDate}"/>
					 </tr>
                     <tr>
					 <td>Total positions opened:</td>
					 <td th:text="${testRun.totalNumberOfTrades}"/>
					 </tr>			
					 <tr>
					 <td>Total take profit trades:</td>
					 <td th:text="${testRun.sucessFullTrades}"/>
					 </tr>
					 <tr>
					 <td>Total stop loss trades:</td>
					 <td th:text="${testRun.failedTrades}"/>
					 </tr>
					 <tr>
					 <td>Total open positions:</td>
					 <td th:text="${testRun.openTrades}"/>
					 </tr>
					 	 
		             <tr>
					 <td>Take Profit Pips:</td>
					 <td th:text="${testRun.takeProfitPips}"/>
					 </tr>
					 <tr>
					 <td>Stop Loss Pips:</td>
					 <td th:text="${testRun.stopLossPips}"/>
					 </tr>
 					 <tr>
					 <td>Total Win:</td>
					 <td th:text="${#numbers.formatDecimal(testRun.profitTotal, 1 , 5, 'POINT')}"/>
					 </tr>
					 <tr>
					 <td>Total Loss:</td>
					 <td th:text="${#numbers.formatDecimal(testRun.lossTotal, 1 , 5, 'POINT')}"/>
					 </tr>
					 <tr>
					 <td>Total Profit:</td>
					 <td th:text="${#numbers.formatDecimal(testRun.balance, 1 , 5, 'POINT')}"/>
					 </tr>					 
					</table>					
					</div>
					<table th:if="${testRun.trades.size() > 0}">
					<tr>
					<td width="400">Generated Trades -> Profit&nbsp;<span th:text="${#numbers.formatDecimal(testRun.balance, 1 , 5, 'POINT')}"/></td>
					<td width="400"><a class='btn btn-danger' th:onclick="'deleteTestRunData(\'' + ${testRun.id}+ '\')'">Delete Trades</a></td>
					<td><span id='toggleButton' style="float:right"  class="glyphicon glyphicon-menu-down" data-toggle="collapse" th:attr="data-target='#trade'+${iterStat.index}" aria-hidden="true" /></td>					
					</tr>
					<tr>
					<td></td>
					<td width="400"><a class='btn btn-success' th:onclick="'showTestRunChart(\'' + ${testRun.id}+ '\')'">All Candles</a></td>
					</tr>
					</table>
					
					<div class="collapse" th:id="trade+${iterStat.index}">					
							<table class="table table-bordered">
							<thead>
								<tr>
								    <th>TestID</th>
									<th>Username</th>
									<th>Instrument</th>
									<th>Interval</th>
									<th>Units</th>
									<th>Buy</th>
									<th>Algorithm</th>
									<th>Creationdate</th>
									<th>Closed</th>
									<th>Chart</th>
									<th>Begin</th>
								</tr>
							</thead>
							<tbody id="trades">
							    <tr th:each="trade : ${testRun.trades}" >
							    <td th:text="${testRun.test.id}" />
							      <td>bla</td>
							      <td th:text="${trade.instrument}" />
							      <td th:text="${trade.tradingInterval}" />							      
							      <td th:text="${trade.units}"/>
							      <td th:if="${trade.buySell}">Buy</td>
							      <td th:if="${!trade.buySell}">Sell</td>
							      
							      <td th:text="${testRun.test.algorithm.name}" />
							      <td th:text="${trade.creationDate}" />
							      <td th:text="${trade.finished}" />							      
							      <td th:if="${trade.success}"><button  type="button" class="btn btn-success" th:onclick="'javascript:viewChart(\'' + ${trade.id} + '\',false);'"><span class="glyphicon glyphicon-stats"></span></button></td>							      
							      <td th:if="!${trade.success}"><button  type="button" class="btn btn-danger" th:onclick="'javascript:viewChart(\'' + ${trade.id} + '\',false);'"><span class="glyphicon glyphicon-stats"></span></button></td>							      
							      <td th:if="${trade.success}"><button  type="button" class="btn btn-success" th:onclick="'javascript:viewChart(\'' + ${trade.id} + '\',true);'"><span class="glyphicon glyphicon-zoom-in"></span></button></td>							      
							      <td th:if="!${trade.success}"><button  type="button" class="btn btn-danger" th:onclick="'javascript:viewChart(\'' + ${trade.id} + '\',true);'"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
							   </tr>
							</tbody>
						</table>	
						</div>				
					</div>
				</div>
			</div>
    

    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>