
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.algorithmmanagement.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1 th:text="#{view.algorithmmanagement.title}"/>
    </div>

    <div th:replace="tradingalgorithm/showall">ALL Algorithms</div>
    
    
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>