
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UpdateAccount</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<form class="form-narrow form-horizontal" method="post" th:action="@{/update}" th:object="${signupForm}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Please Update Account</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('apiKey')}? 'has-error'">
            <label for="apiKey" class="col-lg-2 control-label">API-Key2</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="apiKey" placeholder="346234" th:field="*{apiKey}"/>
                <input type="hidden"  id="dbID" th:field="*{dbID}"/>
                <span class="help-block" th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}">Incorrect API-KEY</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
            <label for="userName" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="userName" placeholder="rickking" th:field="*{userName}"/>
                <span class="help-block" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect Username</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('userId')}? 'has-error'">
            <label for="userId" class="col-lg-2 control-label">User-ID</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="userId" placeholder="4711" th:field="*{userId}"/>
                <span class="help-block" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">Incorrect User-ID</span>
            </div>
        </div>     
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>