
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Open Market Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
</head>
<script th:inline="javascript">
/*<![CDATA[*/
success = /*[[${success}]]*/;
error = /*[[${error}]]*/;
instrumentMap = /*[[${instrumentMap}]]*/;
userID = /*[[${userID}]]*/;
instrument = /*[[${order.instrument}]]*/;

$(document).ready(function() {
	if (success){
		BootstrapDialog.alert('Order successfully opened!');	
	}	
	
	if (error){
		alert("Error");
		 BootstrapDialog.show({
             type: BootstrapDialog.TYPE_DANGER,
             title: 'Could not open Order',
             message: 'Could not open Order !',
             buttons: [{
                 label: 'Close',
                 action: function(dialogRef){
                     dialogRef.close();
                 }
             }]
         });     	
	}
	
	if(userID){
		$.each(instrumentMap[$('#userSelection').val()], function (i, item) {
			$('#instrumentSelection').append($('<option>', { 
		        value: item.name,
		        text : item.displayName
		    }));
		});
		$('#instrumentSelection').val(instrument);
		$('#instrumentSelection').attr('disabled',false);		
	}

	
	
	$('#userSelection').change(function(){
		alert("change "+$(this).val() );
		$.each(instrumentMap[$(this).val()], function (i, item) {
			$('#instrumentSelection').append($('<option>', { 
		        value: item.name,
		        text : item.displayName
		    }));
		});
		$('#instrumentSelection').attr('disabled',false);
	});
});
/*]]>*/
</script>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
 
<form class="form-narrow form-horizontal" method="post" th:action="@{/order/openMarketOrder}" th:object="${order}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${order.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Open Market Order</legend>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('buy')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">BUY</label>
            <div class="col-lg-10">
             
             <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="true"  />BUY</label>
             <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="false" />SELL</label>
             
                <span class="help-block" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Incorrect UserId</span>
            </div>
        </div>
        
        
        <div class="form-group" th:classappend="${#fields.hasErrors('userID')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">UserID</label>
            <div class="col-lg-10">
                   <select id = 'userSelection' class="form-control" th:field="*{userID}">
                       <option th:value="NULL" >---Select Account---</option>
                       <option th:each="account : ${accounts}" th:value="${account.userId}" th:text="${account.userName}">userID</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Incorrect UserId</span>
            </div>
        </div>
        
        
         <div class="form-group" th:classappend="${#fields.hasErrors('instrument')}? 'has-error'">
            <label for="instrument" class="col-lg-2 control-label">Instrument</label>
            <div class="col-lg-10">
                   <select id = 'instrumentSelection' class="form-control" th:field="*{instrument}" disabled='true'>
                       <option th:value="NULL" >---Select Instrument---</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('instrument')}" th:errors="*{instrument}">Incorrect Instrument</span>
            </div>
        </div>
        
             

        
        
        
        <div class="form-group" th:classappend="${#fields.hasErrors('units')}? 'has-error'">
            <label for="units" class="col-lg-2 control-label">Units</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="units" placeholder="1000" th:field="*{units}" />
                <span class="help-block" th:if="${#fields.hasErrors('units')}" th:errors="*{units}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Open Order</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>