
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Open Take Profit Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
</head>
<script th:inline="javascript">
/*<![CDATA[*/
success = /*[[${success}]]*/;
error = /*[[${error}]]*/;

$(document).ready(function() {
	if (success){
		BootstrapDialog.alert('Order successfully opened!');	
	}	
	
	if (error){
		 BootstrapDialog.show({
             type: BootstrapDialog.TYPE_DANGER,
             title: 'Could not open Order',
             message: 'Could not open Order !<br>'+error,
             buttons: [{
                 label: 'Close',
                 action: function(dialogRef){
                     dialogRef.close();
                 }
             }]
         });     	
	}
	

});
/*]]>*/
</script>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
 


<form class="form-narrow form-horizontal" method="post" th:action="@{/order/openTakeProfitOrder(userID=${userID})}" th:object="${takeProfitOrder}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${takeProfitOrder.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Open Take Profit Order</legend>
        
        
        <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
            <label for="price" class="col-lg-2 control-label">Price</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="units" th:placeholder="*{price}" th:field="*{price}" th:value="*{price}"/>
                <span class="help-block" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect price</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Open Order</button>
            </div>
        </div>
        <input type="hidden" th:field="*{tradeID}" th:value="*{tradeID}"/>
    </fieldset>
</form>
</body>
</html>