
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.massmarketorder.title}">Open Mass-Market Order</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script src="../../../resources/js/priceconnectionplain.js" th:src="@{/resources/js/priceconnectionplain.js}"></script>
</head>
<style>
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid blue;
	border-right: 5px solid green;
	border-bottom: 5px solid red;
	border-left: 5px solid pink;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@
-webkit-keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
}

100%
{
-webkit-transform
:
 
rotate
(360deg);
 
}
}
@
keyframes spin { 0% {
	transform: rotate(0deg);
}
100%
{
transform
:
 
rotate
(360deg);
 
}
}
</style>

<script th:inline="javascript">
/*<![CDATA[*/
success = /*[[${success}]]*/;
error = /*[[${error}]]*/;
instrumentMap = /*[[${instrumentMap}]]*/;
userID = /*[[${userID}]]*/;
instrument = /*[[${instrument}]]*/;
baseurl = /*[[@{/}]]*/;
priceBefore = "";
profiles = /*[[${profiles}]]*/
successMessage = /*[[${successMessage}]]*/;
granularity = /*[[${granularity}]]*/;


priceMapBid = [];
priceMapAsk = [];
colorMapBid = [];
colorMapAsk = [];

var currentInstrument = null;
var currentInterval = null;

var priceClientCallBackFunctionEmpty = function(){}

var priceClientCallBackFunction = function(frame, client) {
	client.subscribe("/topic/prices", function(price){
		var displayPrice = JSON.parse(price.body);
		var lastBidColor = "";
		var lastAskColor = "";
		if (priceMapAsk[displayPrice.instrument] != displayPrice.closeoutAsk){
			$("[id^='ask"+displayPrice.instrument+"']").removeClass();
			
			if (priceMapAsk[displayPrice.instrument]< displayPrice.closeoutAsk){            					
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "green");
				lastAskColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "red");
				lastAskColor = "red";
			}
		}
		
		if (priceMapBid[displayPrice.instrument] != displayPrice.closeoutBid){
			$("[id^='bid"+displayPrice.instrument+"']").removeClass();

			if (priceMapBid[displayPrice.instrument]< displayPrice.closeoutBid){            					
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "green");
				lastBidColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){                				
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "red");
				lastBidColor = "red";
			}            				
		}

		$("[id^='bid"+displayPrice.instrument+"']").html(displayPrice.closeoutBid);
		$("[id^='ask"+displayPrice.instrument+"']").html(displayPrice.closeoutAsk);

		if (lastBidColor != ""){
			colorMapBid[displayPrice.instrument] = lastBidColor;	
		}
		
		if (lastAskColor != ""){
			colorMapAsk[displayPrice.instrument] = lastAskColor;	
		}
		
		priceMapBid[displayPrice.instrument] = [displayPrice.closeoutBid];
		priceMapAsk[displayPrice.instrument] = [displayPrice.closeoutAsk];

		if (displayPrice.instrument == currentInstrument){
			$('#ask').html(displayPrice.closeoutAsk);
			$('#bid').html(displayPrice.closeoutBid);
			console.log("Colors "+lastAskColor+""+lastBidColor);
			if (lastAskColor != ""){
				$('#ask').attr("style", "color : "+lastAskColor+";");	
			}
			
			if (lastBidColor != ""){
				$('#bid').attr("style", "color : "+lastBidColor+";");	
			}
				
		}
		
		
	});
}


var priceClient = null;


var stompClient = null;

function setConnected(connected) {
}
 
 
$(document).ready(function() {
	
	$('#rateDetails').hide();
	$('#loader').hide();
	if (successMessage){
		 BootstrapDialog.show({
             type: BootstrapDialog.TYPE_SUCCESS,
             title: 'Transaction successfully processed!',
             message: successMessage,
             buttons: [{
                 label: 'Close',
                 action: function(dialogRef){
                     dialogRef.close();
                 }
             }]
         });
	}	
	
	if (error){		
		 BootstrapDialog.show({
             type: BootstrapDialog.TYPE_DANGER,
             title: 'Could not open Order',
             message: 'Could not open Order !<br>'+error,
             buttons: [{
                 label: 'Close',
                 action: function(dialogRef){
                     dialogRef.close();
                 }
             }]
         });     	
	}
	
	
	function updateTable(){
		var instrumentCounter = 0;
		$("#instrumentTableBody").html("");
		for (i =0; i < profiles.length ; i++){
		    for (j = 0; j < profiles[i].instruments.length; j++){
		    	if (profiles[i].instruments[j].instrument == currentInstrument && profiles[i].instruments[j].interval.$name == currentInterval){		    		
		    		var row = '<tr><td>'+profiles[i].userName+'</td><td><input class="form-control" type="text" id="instruments'+instrumentCounter+'.units" name="instruments['+instrumentCounter+'].units" value='+profiles[i].instruments[j].units+' /></td><td><input id="instruments'+instrumentCounter+'.trade" name="instruments['+instrumentCounter+'].trade" class="form-control" type="checkbox" checked="true"/><input id="instruments'+instrumentCounter+'.instrument" name="instruments['+instrumentCounter+'].instrument"  value='+profiles[i].instruments[j].instrument+' type="hidden" /><input id="instruments'+instrumentCounter+'.userID" name="instruments['+instrumentCounter+'].userID"  value='+profiles[i].userID+' type="hidden" /></td><input id="instruments'+instrumentCounter+'.userName" name="instruments['+instrumentCounter+'].userName"  value='+profiles[i].userName+' type="hidden" /></tr>';
		    		$("#instrumentTableBody").append(row);
		    		instrumentCounter++;
		    	}
		    }	
		}		
	}
	
	$("#granularitySelection").change(function(){
		currentInterval = $(this).val();
		updateTable();
	});
	

	var plainconnection = null;
	$('#instrumentSelection').change(function(){
		$("#granularitySelection").attr("disabled",false);
		
		instrument = $(this).val();
		if (instrument == ""){
			return;
		}	
		statusConditions.push("PRICE");		

		$("#granularitySelection").empty();
		$("#granularitySelection").append($("<option></option>").attr("value", "").text("-- Not Selected --"));
		for (i=0; i < profiles.length; i++){
			for (j =0; j < profiles[i].instruments.length; j++){
				if (profiles[i].instruments[j].instrument == instrument && typeof $("#granularitySelection").find("option[value='"+profiles[i].instruments[j].interval.$name+"']").val() == 'undefined'){
					$("#granularitySelection").append($("<option></option>").attr("value", profiles[i].instruments[j].interval.$name).text(profiles[i].instruments[j].interval.$name));
				}				
			}
		}
		
		$("#granularitySelection").find("option[index='0']").attr("selected","selected");
		
		

		
		
		$('#ask').attr("style", "");
		$('#bid').attr("style", "");
		$('#ask').html("Waiting for new price");
		$('#bid').html("Waiting for new price");
		
		currentInstrument = $(this).val();
		
		if (priceClient != null){
			priceClient.disconnect();	
		}
		
	
		var priceEndpoint = "prices";
		var priceSocket = new SockJS(baseurl+priceEndpoint);
		priceClient = Stomp.over(priceSocket);
		priceClient.debug = null
		var frame ="";
		priceClient.connect({token: "PRICES_MARKET_ORDER", instruments : currentInstrument}, priceClientCallBackFunctionEmpty, errorConnectionCallBack);
		registerConnectionListeners(priceSocket,priceClient, priceClientCallBackFunction.bind(frame, priceClient), {token: "PRICES_MARKET_ORDER", instruments : currentInstrument}, baseurl+priceEndpoint, priceClientCallBackFunction.bind(frame,priceClient));
		
		updateTable();
		$('#rateDetails').fadeIn(800);
		
	});
	

});
/*]]>*/
</script>

<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<form class="form-narrow form-horizontal" method="post" th:action="@{/order/createMassMarketOrder}" th:object="${order}">
		<!--/* Show general error message when form contains errors */-->
		<th:block th:if="${#fields.hasErrors('${order.*}')}">
			<div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
		</th:block>
		<fieldset>
			<legend>Mass Order</legend>

			<div class="form-group" id="rateDetails">
				<div class="col-lg-2"></div>
				<div class="col-lg-10">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Bid Price</th>
								<th>Ask Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="bid">1</td>
								<td id="ask">2</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>




			<div class="form-group" th:classappend="${#fields.hasErrors('buy')}? 'has-error'">
				<label for="userID" class="col-lg-2 control-label">BUY</label>
				<div class="col-lg-10">

					<label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="true" />BUY</label> <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="false" />SELL</label> <span class="help-block" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Incorrect UserId</span>
				</div>
			</div>


			<div class="form-group" th:classappend="${#fields.hasErrors('instrument')}? 'has-error'">
				<label for="instrument" class="col-lg-2 control-label">Instrument</label>
				<div class="col-lg-10">
					<select id='instrumentSelection' class="form-control" th:field="*{instrument}">
						<option th:value="NULL">---Select Instrument---</option>
						<option th:each="instrument : ${instruments}" th:value="${instrument}" th:text="${instrument}" />
					</select> <span class="help-block" th:if="${#fields.hasErrors('instrument')}" th:errors="*{instrument}">Incorrect Instrument</span>
				</div>
			</div>
			
			<div class="form-group" >
				<label for="instrument" class="col-lg-2 control-label">Interval</label>
				<div class="col-lg-10">
					<select id='granularitySelection' class="form-control"  th:field="*{interval}">
						<option th:value="NULL">---Select Interval---</option>
						<option th:each="interval : ${granularity}" th:value="${interval}" th:text="${interval}" />
					</select> 
				</div>
			</div>
			
			

			<div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
				<label for="price" class="col-lg-2 control-label">Price</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="price" placeholder="create LIMIT Order" th:field="*{price}" /> <span class="help-block" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect price</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<table>
						<tr>
							<td><button type="submit" class="btn btn-default" onclick="$('#loader').show()">Open Order</button></td>
							<td><div class='loader' id='loader'></div></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="form-group">
				<div class="coll-lg-12">
					<table class="table table-bordered">
						<thead>
							<th>Account</th>
							<th>Units</th>
							<th>Trade</th>
						</thead>
						<tbody id="instrumentTableBody">
							<tr th:each="instrument : ${order.instruments}">
								<td th:text="${instrument.userName}" />
								<td th:classappend="${#fields.hasErrors('instruments[__${instrumentStat.index}__].units')}? 'has-error'"><input class="form-control" type="text" th:field="*{instruments[__${instrumentStat.index}__].units}" /> <span class="help-block" th:if="${#fields.hasErrors('*{instruments[__${instrumentStat.index}__].units}')}" th:errors="*{instruments[__${instrumentStat.index}__].units}">Incorrect UserId</span></td>
								<td><input class="form-control" type="checkbox" th:field="*{instruments[__${instrumentStat.index}__].trade}" /> <input class="form-control" type="hidden" th:field="*{instruments[__${instrumentStat.index}__].userName}" /> <input class="form-control" type="hidden" th:field="*{instruments[__${instrumentStat.index}__].userID}" /> <input class="form-control" type="hidden" th:field="*{instruments[__${instrumentStat.index}__].instrument}" /></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>

		</fieldset>
	</form>
</body>
</html>