
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title  th:text="#{view.marketorder.title}">Open Market Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/priceconnectionplain.js" th:src="@{/resources/js/priceconnectionplain.js}"></script>
    <script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
    <script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
    <script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
</head>
<style>
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid blue;
  border-right: 5px solid green;
  border-bottom: 5px solid red;
  border-left: 5px solid pink;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<script th:inline="javascript">
/*<![CDATA[*/
success = /*[[${success}]]*/;
error = /*[[${error}]]*/;
instrumentMap = /*[[${instrumentMap}]]*/;
userID = /*[[${userID}]]*/;
instrument = /*[[${order.instrument}]]*/;
baseurl = /*[[@{/}]]*/;
priceBefore = "";

priceMapBid = [];
priceMapAsk = [];
colorMapBid = [];
colorMapAsk = [];



var stompClient = null;

var currentInstrument = null;


var priceClientCallBackFunctionEmpty = function(){}

var priceClientCallBackFunction = function(frame, client) {
	client.subscribe("/topic/prices", function(price){
		var displayPrice = JSON.parse(price.body);
		var lastBidColor = "";
		var lastAskColor = "";
		if (priceMapAsk[displayPrice.instrument] != displayPrice.closeoutAsk){
			$("[id^='ask"+displayPrice.instrument+"']").removeClass();
			
			if (priceMapAsk[displayPrice.instrument]< displayPrice.closeoutAsk){            					
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "green");
				lastAskColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "red");
				lastAskColor = "red";
			}
		}
		
		if (priceMapBid[displayPrice.instrument] != displayPrice.closeoutBid){
			$("[id^='bid"+displayPrice.instrument+"']").removeClass();

			if (priceMapBid[displayPrice.instrument]< displayPrice.closeoutBid){            					
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "green");
				lastBidColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){                				
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "red");
				lastBidColor = "red";
			}            				
		}

		$("[id^='bid"+displayPrice.instrument+"']").html(displayPrice.closeoutBid);
		$("[id^='ask"+displayPrice.instrument+"']").html(displayPrice.closeoutAsk);

		if (lastBidColor != ""){
			colorMapBid[displayPrice.instrument] = lastBidColor;	
		}
		
		if (lastAskColor != ""){
			colorMapAsk[displayPrice.instrument] = lastAskColor;	
		}
		
		priceMapBid[displayPrice.instrument] = [displayPrice.closeoutBid];
		priceMapAsk[displayPrice.instrument] = [displayPrice.closeoutAsk];

		if (displayPrice.instrument == currentInstrument){
			$('#ask').html(displayPrice.closeoutAsk);
			$('#bid').html(displayPrice.closeoutBid);
			console.log("Colors "+lastAskColor+""+lastBidColor);
			if (lastAskColor != ""){
				$('#ask').attr("style", "color : "+lastAskColor+";");	
			}
			
			if (lastBidColor != ""){
				$('#bid').attr("style", "color : "+lastBidColor+";");	
			}
				
		}
		
		
	});
}


var priceClient = null;

$(document).ready(function() {
	
	$('#rateDetails').hide();
	$('#loader').hide();
	if (success){
		BootstrapDialog.alert('Transaction successfully processed!');	
	}	
	
	if (error){		
		 BootstrapDialog.show({
             type: BootstrapDialog.TYPE_DANGER,
             title: 'Could not open Order',
             message: 'Could not open Order !<br>'+error,
             buttons: [{
                 label: 'Close',
                 action: function(dialogRef){
                     dialogRef.close();
                 }
             }]
         });     	
	}

	
	$('#instrumentSelection').change(function(){
		$('#ask').attr("style", "");
		$('#bid').attr("style", "");
		$('#ask').html("Waiting for new price");
		$('#bid').html("Waiting for new price");
		
		currentInstrument = $(this).val();
		
		if (priceClient != null){
			priceClient.disconnect();	
		}
		
		statusConditions.push("PRICE");
	
		var priceEndpoint = "prices";
		var priceSocket = new SockJS(baseurl+priceEndpoint);
		priceClient = Stomp.over(priceSocket);
		priceClient.debug = null
		var frame ="";
		priceClient.connect({token: "PRICES_MARKET_ORDER" , instruments : currentInstrument}, priceClientCallBackFunctionEmpty, errorConnectionCallBack);
		registerConnectionListeners(priceSocket,priceClient, priceClientCallBackFunction.bind(frame, priceClient), {token: "PRICES_MARKET_ORDER" , instruments : currentInstrument}, baseurl+priceEndpoint, priceClientCallBackFunction.bind(frame,priceClient));
		
		$('#rateDetails').fadeIn(800);
		//	$('#closingRate').text(data.closePrice);
		//	$('#openingRate').text(data.openPrice);
		
	});
	
	
	if(userID){
		$.each(instrumentMap[$('#userSelection').val()], function (i, item) {
			$('#instrumentSelection').append($('<option>', { 
		        value: item.name,
		        text : item.displayName
		    }));
		});
		$('#instrumentSelection').val(instrument);
		$('#instrumentSelection').attr('disabled',false);
		$('#instrumentSelection').change();
	}

	
	
	
	$('#userSelection').change(function(){
		userID =  $(this).val();
		$.each(instrumentMap[$(this).val()], function (i, item) {
			$('#instrumentSelection').append($('<option>', { 
		        value: item.name,
		        text : item.displayName
		    }));
		});
		$('#instrumentSelection').attr('disabled',false);
	});
});

$(document).ready(function(){

});

/*]]>*/
</script>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
 
<form class="form-narrow form-horizontal" method="post" th:action="@{/order/openMarketOrder}" th:object="${order}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${order.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Single Order</legend>
        
        <div class="form-group" id="rateDetails">
        <div class="col-lg-2"></div>
            <div class="col-lg-10">
             <table class="table table-bordered">
    <thead>
      <tr>
        <th>Bid Price</th>
        <th>Ask Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="bid">1</td>
        <td id="ask">2</td>
      </tr>
    </tbody>
  </table>
            </div>
        </div>
        
        
        <div class="form-group" th:classappend="${#fields.hasErrors('buy')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">BUY</label>
            <div class="col-lg-10">
             
             <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="true"  />BUY</label>
             <label class="radio-inline"><input type="radio" th:field="*{buy}" th:value="false" />SELL</label>
             
                <span class="help-block" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Incorrect UserId</span>
            </div>
        </div>
        
        
        <div class="form-group" th:classappend="${#fields.hasErrors('userID')}? 'has-error'">
            <label for="userID" class="col-lg-2 control-label">Account</label>
            <div class="col-lg-10">
                   <select id = 'userSelection' class="form-control" th:field="*{userID}">
                       <option th:value="NULL" >---Select Account---</option>
                       <option th:each="account : ${accounts}" th:value="${account.userId}" th:text="${account.userName}">userID</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Incorrect UserId</span>
            </div>
        </div>
        
        
         <div class="form-group" th:classappend="${#fields.hasErrors('instrument')}? 'has-error'">
            <label for="instrument" class="col-lg-2 control-label">Instrument</label>
            <div class="col-lg-10">
                   <select id = 'instrumentSelection' class="form-control" th:field="*{instrument}" disabled ="true">
                       <option th:value="NULL" >---Select Instrument---</option>
                    </select>
                <span class="help-block" th:if="${#fields.hasErrors('instrument')}" th:errors="*{instrument}" >Incorrect Instrument</span>
            </div>
        </div>        
        <div class="form-group" th:classappend="${#fields.hasErrors('units')}? 'has-error'">
            <label for="units" class="col-lg-2 control-label">Units</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="units" placeholder="####" th:field="*{units}" />
                <span class="help-block" th:if="${#fields.hasErrors('units')}" th:errors="*{units}">Incorrect email</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
            <label for="price" class="col-lg-2 control-label">Price</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="price" placeholder="create LIMIT Order" th:field="*{price}" />
                <span class="help-block" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Incorrect price</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <table>
                  <tr>
                  <td><button type="submit" class="btn btn-default" onclick="$('#loader').show()">Open Order</button></td>
                  <td><div class='loader' id='loader'></div></td>
                  </tr>
                </table>              
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>