
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.pendingorders.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/priceconnection.js" th:src="@{/resources/js/priceconnection.js}"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/jquery.popupwindow.js" th:src="@{/resources/js/jquery.popupwindow.js}"></script>
<script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
<script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>
<script src="../../../resources/js/bootstrap-dialog.min.js" th:src="@{/resources/js/bootstrap-dialog.min.js}"></script>
<link href="../../../resources/css/bootstrap-dialog.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-dialog.min.css}" />
</head>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
chartButton= '<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-stats"></span></button>';
//chartButton= '<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-stats"></span></button>';
positionTableHeader = '<table class="table table-bordered" id="positionTable"><theader>'; 	   
positionTableEnd = '</table>';
orderTableContent = "";

closingId = "";
updateCounter = 0;
baseurl = /*[[@{/}]]*/;
singleInstrument = /*[[${singleInstrument}]]*/;
instruments = /*[[${instruments}]]*/;
orders = /*[[${orders}]]*/;

dateFilter="";
nameFilter="";
instrumentFilter="";
userIDFilter ="";
dialog = null;

trades = [];

priceMapBid = [];
priceMapAsk = [];
colorMapBid = [];
colorMapAsk = [];




function viewChart(instrument, userID){	
	//newwindow=window.open(baseurl+"instrument/chart?userid="+userID+"&instrument="+instrument+"&granularity=5",'height=200,width=150');
    href=baseurl+"instrument/chart?userid="+userID+"&instrument="+instrument+"&granularity=S5";
	settings = {
			height:400, // sets the height in pixels of the window.
			width:800, // sets the width in pixels of the window.
			toolbar:0, // determines whether a toolbar (includes the forward and back buttons) is displayed {1 (YES) or 0 (NO)}.
			scrollbars:0, // determines whether scrollbars appear on the window {1 (YES) or 0 (NO)}.
			status:0, // whether a status line appears at the bottom of the window {1 (YES) or 0 (NO)}.
			resizable:1, // whether the window can be resized {1 (YES) or 0 (NO)}. Can also be overloaded using resizable.
			left:0, // left position when the window appears.
			top:0, // top position when the window appears.
			center:0, // should we center the window? {1 (YES) or 0 (NO)}. overrides top and left
			createnew:1, // should we create a new window for each occurance {1 (YES) or 0 (NO)}.
			location:0, // determines whether the address bar is displayed {1 (YES) or 0 (NO)}.
			menubar:0, // determines whether the menu bar is displayed {1 (YES) or 0 (NO)}.
		};
	
	parameters = "location=" + settings.location + ",menubar=" + settings.menubar + ",height=" + settings.height + ",width=" + settings.width + ",toolbar=" + settings.toolbar + ",scrollbars=" + settings.scrollbars  + ",status=" + settings.status + ",resizable=" + settings.resizable + ",left=" + settings.left  + ",screenX=" + settings.left + ",top=" + settings.top  + ",screenY=" + settings.top;
	winObj = window.open(href, name, parameters);
	
	if (window.focus) {winObj.focus()}	
	//"instrument/chart"	@RequestParam("userid") String userid, @RequestParam("instrument") String instrument, @RequestParam("granularity") String granularity
}

function resetFilter(){
	dateFilter="";
	nameFilter="";
	instrumentFilter="";
	userIDFilter ="";
	$('#resetFilterButton').text("Reset Filter");
	$('#resetFilterButton').hide();
}

function setInstrumentFilter(instrument){
	instrumentFilter = instrument;	
	$("td[id^='"+instrument+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+instrument);
	$('#resetFilterButton').show();
}

function setNameFilter(name){
	nameFilter = name;	
	$("td[id^='"+name+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" >"+name);
	$('#resetFilterButton').show();
}

function setUserIDFilter(id){
	userIDFilter = id;	
	$("td[id^='"+id+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+id);
	$('#resetFilterButton').show();
}


function setDateFilter(date){
	dateFilter = date;
	$("td[id^='"+date+"']").text('Filter');
	$('#resetFilterButton').text($('#resetFilterButton').text()+" > "+date);
	$('#resetFilterButton').show();
}


function closeOrder(orderId, userID){
	closingId = orderId+userID;
	$('#'+closingId).attr('class','btn btn-danger');
	
	BootstrapDialog.confirm('Do you really want to cancel this Order?', function(result){
        if(!result) {
        	$('#'+closingId).attr('class','btn btn-primary');
        } else {
        	$.get(  baseurl+"order/closeOrder?orderID="+orderId+"&userID="+userID , function( data ) {
      		  if(data != "OK"){
                  alert("Close Operation failed!");
                }
           }); 	
        }
    });	

}

function closePosition(instrument, longPosition, userID){
	closingId = instrument+userID;
	$('#'+closingId).attr('class','btn btn-danger');
	$.get(baseurl+"position/closePosition?instrument="+instrument+"&longPosition="+longPosition+"&userID="+userID , function( data ) {          
          if(data != "OK"){
            alert("Close Operation failed!");
          }          
    });
}



function changeOrder(userID,orderID,price,tradeID,orderType){
	  var error = false;
	  var responseText = "";
		BootstrapDialog.show({
	        message: 'Update Order Price: <input type="text" class="form-control" value="'+price+'">',
	        onhide: function(dialogRef){
	        },
	        buttons: [{
	            label: 'Change Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/updateOrderDialog?userID="+userID+"&orderID="+orderID+"&price="+profitPrice+"&tradeID="+tradeID+"&orderType="+orderType, function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could not update Order",responseText);
	                   		dialogRef.setMessage('Update Take Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        {
	            label: 'Close Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/closeOrderDialog?userID="+userID+"&orderID="+orderID+"&tradeID="+tradeID , function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could close Order",responseText);
	                   		dialogRef.setMessage('Update Take Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        
	        {
	            label: 'Cancel',
	            action: function(dialogRef) {
	            	dialogRef.close();           	
	            }
	        }        
	        ]
	    });
}


function stopLossOrder(tradeID,userID){	
	window.location.href = baseurl+"order/openStopLossOrderView?userID="+userID+"&tradeID="+tradeID;
}

function takeProfitOrder(tradeID, userID, price){
  var error = false;
  var responseText = "";
	BootstrapDialog.show({
        message: 'Enter Take Profit Price: <input type="text" class="form-control">',
        onhide: function(dialogRef){
        },
        buttons: [{
            label: 'Place Order',
            action: function(dialogRef) {
            	var profitPrice = dialogRef.getModalBody().find('input').val();
            	dialogRef.setMessage("<div class='loader'></div>");
            	$.get(baseurl+"order/openTakeProfitOrderDialog?userID="+userID+"&tradeID="+tradeID+"&price="+profitPrice , function( data ) {
            		console.log(data);
            		responseText = data;
                	if(responseText == "OK"){            		
                        dialogRef.close();
                   	} else {  
                   		showErrorDialog("Could not open Order",responseText);
                   		dialogRef.setMessage('Enter Take Profit Price: <input type="text" class="form-control">');
                   	}
                });           	
            }
        },
        
        {
            label: 'Cancel',
            action: function(dialogRef) {
            	dialogRef.close();           	
            }
        }        
        ]
    });    
}



function stopLossOrder(tradeID, userID, price){
	  var error = false;
	  var responseText = "";
		BootstrapDialog.show({
	        message: 'Enter Stop Loss Price: <input type="text" class="form-control">',
	        onhide: function(dialogRef){
	        },
	        buttons: [{
	            label: 'Place Order',
	            action: function(dialogRef) {
	            	var profitPrice = dialogRef.getModalBody().find('input').val();
	            	dialogRef.setMessage("<div class='loader'></div>");
	            	$.get(baseurl+"order/openStopLossOrderDialog?userID="+userID+"&tradeID="+tradeID+"&price="+profitPrice , function( data ) {
	            		console.log(data);
	            		responseText = data;
	                	if(responseText == "OK"){            		
	                        dialogRef.close();
	                   	} else {  
	                   		showErrorDialog("Could not open Order",responseText);
	                   		dialogRef.setMessage('Enter Stop Loss Profit Price: <input type="text" class="form-control">');
	                   	}
	                });           	
	            }
	        },
	        
	        {
	            label: 'Cancel',
	            action: function(dialogRef) {
	            	dialogRef.close();           	
	            }
	        }        
	        ]
	    });    
	}


function coverTrade(userID, instrunemt, units) {
	window.location = baseurl+"order/coverMarketOrderView?userID="+userID+"&instrument="+instrunemt+"&units="+units;    	
}


var orderClientCallBackFunctionEmpty = function(){}

var orderClientCallBackFunction = function(frame, client){
    console.log('Connected: ' + frame);
    
    var socketURL = '/topic/orders';
    
    client.subscribe(socketURL, function(orders) {
    	console.log("orders delivered "+orders);
    	updatePositions(JSON.parse(orders.body));   
    	$('#loader').hide();
    });
}
             
            
            function sendMessage() {
                var from = document.getElementById('from').value;
                var text = document.getElementById('text').value;
                stompClient.send("/app/chat", {}, 
                  JSON.stringify({'from':from, 'text':text}));
            }
             
            function showMessageOutput(messageOutput) {
                var response = document.getElementById('response');
                var p = document.createElement('p');
                p.style.wordWrap = 'break-word';
                p.appendChild(document.createTextNode(messageOutput.from + ": " 
                  + messageOutput.text + " (" + messageOutput.time + ")"));
                response.appendChild(p);
            }

            
            function updatePositions(response) {
                jsonData = response;    

            	   orderTableContent += "<tr class='info'>";
            	   orderTableContent += "<th id='instrument'>Instrument</th>";
            	   orderTableContent += "<th id='instrumentheader'>Type</th>";
            	   orderTableContent += "<th>Strike Price</th>";
            	   orderTableContent += "<th>Current Bid</th>";
            	   orderTableContent += "<th>Current Ask</th>";
            	   orderTableContent += "<th>Units</th>";            	   
            	   orderTableContent += "<th>Account Name</th>";
            	   orderTableContent += "<th>Cancel</th>";
            	   orderTableContent += "</tr><theader>"; 	   
            	   
                
                for (i =0; i < jsonData.length; i++){                 
                	 style = "default";
                   
               	   //for (j = 0; j < jsonData[i].orders.length; j++){
                		    order = jsonData[i];
                		    orderRow = ""
                		    orderRow += "<tr class='"+style+"' id='"+order.id+"'>";
                		    orderRow += "<td>"+order.instrument+"</td>";
                		    orderRow += "<td>"+order.type+"</td>";
                		    orderRow += "<td>"+order.price+"</td>";
                   		    if (typeof priceMapBid[order.instrument] == 'undefined'){
                   		    	priceMapBid[order.instrument] = "Loading...";
                   		    }
                   		    if (typeof priceMapAsk[order.instrument] == 'undefined'){
                   		    	priceMapAsk[order.instrument] = "Loading...";
                   		    }

                		    orderRow += "<td style='color:"+colorMapAsk[order.instrument]+";' id='ask"+order.instrument+"'>"+priceMapAsk[order.instrument]+"</td>";
                		    orderRow += "<td style='color:"+colorMapBid[order.instrument]+";' id='bid"+order.instrument+"'>"+priceMapBid[order.instrument]+"</td>";
                		    

                		    orderRow += "<td>"+order.units+"</td>";
                		    orderRow += "<td>"+order.userName+"</td>";
                		    orderRow += "<td><a id='"+order.id+order.userID+"' class='btn btn-info' onclick='closeOrder(\""+order.id+"\",\""+order.userID+"\")'><span class='glyphicon glyphicon-ban-circle'></span></a></td>";                		    

                   		    
                   		    orderRow += "</tr>";
                   		    orderTableContent += orderRow;                    		    
                	                     
                }                
                table = positionTableHeader+orderTableContent+positionTableEnd;
                orderTableContent = "";
                $('#positiontarged').html(table);
            }    

            
function formatPrice(price, totalLength){
   	showPrice = price;                   		    	
   	length = price.length;
   	additionalChars = totalLength-length;
   	
   	for (k = 0; k < additionalChars; k++){
   		showPrice = showPrice+"0";
   	}                  		    	
    return showPrice;
}
            
function showErrorDialog(title,message){
	 BootstrapDialog.show({
         type: BootstrapDialog.TYPE_DANGER,
         title: title,
         message: message,
         buttons: [{
             label: 'Close',
             action: function(dialogRef){
                 dialogRef.close();
             }
         }]
     });
}

function filerPosition(jsonData, trade){
    if(instrumentFilter != "" && trade.instrument != instrumentFilter){
	       return true;	
	    }
	    
	    if(nameFilter != "" && jsonData.accountName != nameFilter){
	    	return true;	
	    }
	    
	    if(userIDFilter != "" && jsonData.userID != userIDFilter){
	    	return true;	
	    }
	    
	    if(dateFilter != "" && trade.openTime != dateFilter){
	    	return true;	
	    }
    return false;
}

function unloadcallback(){
	alert("unloaded");
};

var priceClientCallBackFunctionEmpty = function(){}

var priceClientCallBackFunction = function(frame, client) {
	client.subscribe("/topic/prices", function(price){
		var displayPrice = JSON.parse(price.body);
		var lastBidColor = "";
		var lastAskColor = "";
		if (priceMapAsk[displayPrice.instrument] != displayPrice.closeoutAsk){
			$("[id^='ask"+displayPrice.instrument+"']").removeClass();
			
			if (priceMapAsk[displayPrice.instrument]< displayPrice.closeoutAsk){            					
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "green");
				lastAskColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){
				$("[id^='ask"+displayPrice.instrument+"']").css( "color", "red");
				lastAskColor = "red";
			}
		}
		
		if (priceMapBid[displayPrice.instrument] != displayPrice.closeoutBid){
			$("[id^='bid"+displayPrice.instrument+"']").removeClass();

			if (priceMapBid[displayPrice.instrument]< displayPrice.closeoutBid){            					
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "green");
				lastBidColor = "green";
				
			} 
			if (priceMapAsk[displayPrice.instrument]> displayPrice.closeoutAsk){                				
				$("[id^='bid"+displayPrice.instrument+"']").css( "color", "red");
				lastBidColor = "red";
			}            				
		}

		$("[id^='bid"+displayPrice.instrument+"']").html(displayPrice.closeoutBid);
		$("[id^='ask"+displayPrice.instrument+"']").html(displayPrice.closeoutAsk);

		if (lastBidColor != ""){
			colorMapBid[displayPrice.instrument] = lastBidColor;	
		}
		
		if (lastAskColor != ""){
			colorMapAsk[displayPrice.instrument] = lastAskColor;	
		}
		
		
		priceMapBid[displayPrice.instrument] = [displayPrice.closeoutBid];
		priceMapAsk[displayPrice.instrument] = [displayPrice.closeoutAsk];
		            			
	});
}

$(document).ready(function() {
	
	updatePositions(orders);
	$('#loader').hide();
	var priceEndpoint = "prices";
	var priceSocket = new SockJS(baseurl+priceEndpoint);
	var priceClient = Stomp.over(priceSocket);
	
	var frame ="";
	priceClient.connect({token: "PRICES_OPEN_ORDERS" , instruments : instruments}, priceClientCallBackFunctionEmpty, errorConnectionCallBack);
	registerConnectionListeners(priceSocket,priceClient, priceClientCallBackFunction.bind(frame, priceClient), {token: "PRICES_OPEN_ORDERS" , instruments : instruments}, baseurl+priceEndpoint, priceClientCallBackFunction.bind(frame,priceClient));

	var endpoint = 'fetchOrders';
	var tokenValue = "ALL_ORDERS"
	var socket = new SockJS(baseurl+endpoint);
    
	var stompClient = Stomp.over(socket);

	frame ="";
	stompClient.connect({token: "ALL_ORDERS" , instruments : instruments}, orderClientCallBackFunctionEmpty, errorConnectionCallBack);
	registerConnectionListeners(socket,stompClient, orderClientCallBackFunction.bind(frame, stompClient), {token: "ALL_ORDERS" , instruments : instruments}, baseurl+priceEndpoint, orderClientCallBackFunction.bind(frame,stompClient));

	$('#resetFilterButton').hide();	
});


/*]]>*/
</script>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<div class="row row-centered">
			<div class="col-md12 col-centered">
				<h2 class="text-center">Open Orders</h2><h1 class="text-center" id="updateHeader"></h1>
				<div id="loader" class='loader'></div>
			</div>
		</div>
		<a class="btn btn-primary" name="refreshPositions" id="resetFilterButton" onclick="resetFilter();">Reset Filter</a>
		<div class="row">
			<div class="col-md-12" id="positiontarged"></div>
		</div>

	</div>
	
</body>
</html>